/* Imports */
// @import "normalize"

/* Variables */
$red: #d32730
$black: black
$white: white
$light-black: #797979
$footer: #333f48

/* ----------------------------------General stuff ------------------------- */

/* Removing the space around Bootstrap columns */
[class*="col-"]
	padding-left: 0
	padding-right: 0

	.row
		margin-left: 0
		margin-right: 0

	.container-fluid
		margin: 0
		padding: 0

body
	font-family: "MyriadPro-Regular", sans-serif

@font-face
	font-family: "MyriadPro-Regular"
	src: url("../fonts/myriad/MyriadPro-Regular.otf") format("opentype")

/* ------------------------- Footer styles ----------------------------------- */
#footer
	background-color: $footer
	color: $white
	min-height: 220px

	.item-list
		margin-top: 10px

		.item
			.icon
				display: inline-block
				padding: 5px 5px 0 0
				svg
					height: 25px
					width: 25px
					vertical-align: middle
					path
						fill: white

			.text
				display: inline
				span, span a
					font-size: 14px
					color: $white

	#sosiale-medier, #kontakt, #nyhetsbrev
		// padding: 10px
		padding-left: 20px
		// border-right: 2px solid white
		min-height: 200px
	#nyhetsbrev
		padding-right: 20px
		input[type="email"]
			background-color: $white
			border: none
			border-radius: 5px
			padding: 5px
			color: black
			font-weight: 700
			font-size: 12px
			min-width: 50px
			width: 60%
			&:focus
				outline: none
				box-shadow: 0 0 2pt 1pt $black

			&::placeholder
				// border: 2px solid $footer
				color: $footer
				font-weight: 700

		button
			display: block
			margin-top: 10px
			padding: 2px 8px 2px 8px
			border-radius: 5px
			background-color: $white
			color: $footer
			border: none
			font-weight: 700
			&:hover
				// transform: scale(1.1)
				background-color: #13cc84
				color: $white
/* ------------------------- End of footer styles ----------------------------------- */

/* ------------------------- Navbar styles ----------------------------------- */
// Bootstrap navbar stylings
.navbar-default .navbar-toggle
	position: absolute
	left: 0
	margin-left: 20px

.navbar
	margin-left: -15px
	margin-right: -15px
	background-color: $white
	border: none
	margin-bottom: 0
	margin-top: 0
	.navbar-nav
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
		li
			padding: 10px
			text-transform: uppercase
			a
				color: $black
				font-weight: 700
				&:hover
					color: $red
					background-color: $white
					transform: scale(1.1)
					text-decoration: none
		.logo
			max-width: 250px
			#logo-link:hover
				transform: scale(1.0)

		.logo-img
			max-width: 100%

		.logo-link-mobile
			display: none

	.shopping-cart
		.dropdown
			.dropdown-menu
				li a:hover
					transform: scale(1.0)

			.btn-default
				border: none
			button
				background-color: $white
				svg
					height: 20px
					width: 20px
					vertical-align: middle
					// margin-top: 5px
				&:hover
					transform: scale(1.2)
					background-color: $white
			.btn-default.focus, .btn-default:focus
				background-color: $white
				transform: scale(1.2)

@media (min-width: 768px)
	.logo-img-mobile
		display: none
	/* Option in the menu, only visible when shopping-cart icon is not*/
	#nettbutikk-hidden
		display: none

@media (max-width: 767px)
	.logo-img-mobile
		position: absolute
		max-width: 150px
		left: 0
		right: 0
		margin: 0 auto
		margin-top: 10px

	.navbar-collapse
		padding: 0
	.navbar .navbar-nav
		flex-direction: column
		padding: 0
		width: 100%
		margin: 0
		margin-top: 40px
		li
			width: 100%
			margin: 0
			padding: 0
			// margin-left: -15px
			a:hover
				transform: scale(1.0)
				background-color: $red
				color: $white
		.logo
			display: none
		.logo-link-mobile
			display: block

	/* Option in the menu, only visible when shopping-cart icon is not*/
	#nettbutikk-hidden
		display: block

	.shopping-cart
		// margin-left: 30px!important
		// margin-bottom: 10px!important
		display: none!important

// End of bootstrap navbar stylings
/* ------------------------- Enf of Navbar styles ----------------------------------- */

/* -------------------------- INDEX PAGE------------------------------------------*/
#index
	.img-grid img
		width: 100%
		// border: 2px solid $white

	.top-img
		border-top: none

	.center-row
		display: flex
		// [class*="col-"]
		// 	display: flex
		.center-tile
			position: relative
			display: flex
			align-items: center
			justify-content: center
			.index-main-img-mobile
				display: none
			img
				position: absolute
			h1
				position: absolute
				margin: 0
				color: $white
				// font-size: 52px
				span
					display: block
				.heading
					font-size: 48px
					display: block
					margin-left: -40px
					margin-bottom: -20px
				.subheading
					font-size: 58px
					display: block
					margin-right: -40px

	#produktkatalog
		#produktkatalog-grid
			display: flex
			align-items: center
			img
				width: 100%

	#artikkel-liste
		img
			width: 100%

@media (max-width: 767px)
	#index
		.img-grid img
			display: none
		.center-row .center-tile
			.index-main-img-mobile
				display: block
			img
				position: static
				display: none
/*------------- END OF INDEX PAGE -------------------------------*/

/*-------------- VARMELØSNINGER PAGE -------------------------------- */
#varmelosninger
	img
		width: 100%
/*-------------- END OF VARMELØSNINGER PAGE --------------------------------* */

/*-------------- VARMELØSNINGER PAGE -------------------------------- */
#varmestyring
	img
		width: 100%
/*-------------- END OF VARMELØSNINGER PAGE --------------------------------* */

/*-------------- SMARTHUS PAGE -------------------------------- */
#smarthus
	img
		width: 100%
/*-------------- END OF SMARTHUS PAGE --------------------------------* */
