@charset "UTF-8";
/* Imports */
/* Variables */
/* ----------------------------------General stuff ------------------------- */
/* Removing the space around Bootstrap columns */
[class*="col-"] {
  padding-left: 0;
  padding-right: 0; }
  [class*="col-"] .row {
    margin-left: 0;
    margin-right: 0; }
  [class*="col-"] .container-fluid {
    margin: 0;
    padding: 0; }

body {
  font-family: "MyriadPro-Regular", sans-serif; }

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/myriad/MyriadPro-Regular.otf") format("opentype"); }

.see-more-link {
  border-bottom: solid #ccc 1px;
  padding-top: 10px; }
  .see-more-link a:hover {
    text-decoration: none; }
  .see-more-link .buttontext {
    color: #d32730;
    display: inline;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
    padding-left: 10px; }
  .see-more-link .arrow {
    color: #d32730;
    display: inline;
    padding-left: 5px;
    font-size: 18px; }

.background-grey {
  background-color: #f7f7f7;
  padding: 30px 0px 30px 0px;
  margin-bottom: 40px; }
  .background-grey h1 {
    text-align: center;
    text-transform: uppercase; }
  .background-grey p {
    text-align: center;
    font-size: 18px;
    line-height: 22px; }

/* ------------------------- Footer styles ----------------------------------- */
#footer {
  background-color: #333f48;
  color: white;
  min-height: 260px;
  padding: 20px 160px 20px 160px; }
  #footer .item-list {
    margin-top: 10px; }
    #footer .item-list .item .icon {
      display: inline-block;
      padding: 5px 5px 0 0; }
      #footer .item-list .item .icon svg {
        height: 25px;
        width: 25px;
        vertical-align: middle; }
        #footer .item-list .item .icon svg path {
          fill: white; }
    #footer .item-list .item .leftpadding {
      padding-left: 6px; }
    #footer .item-list .item .text {
      display: inline; }
      #footer .item-list .item .text span, #footer .item-list .item .text span a {
        font-size: 14px;
        color: white; }
  #footer .center {
    text-align: center; }
  #footer .right {
    text-align: right; }
  #footer #sosiale-medier, #footer #kontakt, #footer #nyhetsbrev {
    padding-left: 20px;
    min-height: 200px; }
  #footer #nyhetsbrev {
    padding-right: 20px; }
    #footer #nyhetsbrev .smaller {
      padding-left: 40px;
      padding-right: 40px; }
    #footer #nyhetsbrev input[type="email"] {
      background-color: white;
      border: none;
      border-radius: 5px;
      padding: 5px;
      color: black;
      font-weight: 700;
      font-size: 12px;
      min-width: 50px;
      width: 60%; }
      #footer #nyhetsbrev input[type="email"]:focus {
        outline: none;
        box-shadow: 0 0 2pt 1pt black; }
      #footer #nyhetsbrev input[type="email"]::-webkit-input-placeholder {
        color: #333f48;
        font-weight: 700; }
      #footer #nyhetsbrev input[type="email"]::-moz-placeholder {
        color: #333f48;
        font-weight: 700; }
      #footer #nyhetsbrev input[type="email"]:-ms-input-placeholder {
        color: #333f48;
        font-weight: 700; }
      #footer #nyhetsbrev input[type="email"]::placeholder {
        color: #333f48;
        font-weight: 700; }
    #footer #nyhetsbrev button {
      display: inline;
      margin: 0 auto;
      margin-top: 10px;
      padding: 2px 8px 2px 8px;
      border-radius: 5px;
      background-color: white;
      color: #333f48;
      border: none;
      font-weight: 700; }
      #footer #nyhetsbrev button:hover {
        background-color: #13cc84;
        color: white; }

/* ------------------------- End of footer styles ----------------------------------- */
/* ------------------------- Navbar styles ----------------------------------- */
.navbar-default .navbar-toggle {
  position: absolute;
  left: 0;
  margin-left: 20px; }

.navbar {
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
  border: none;
  margin-bottom: 0;
  margin-top: 0; }
  .navbar .navbar-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    .navbar .navbar-nav li {
      padding: 10px;
      text-transform: uppercase; }
      .navbar .navbar-nav li a {
        color: black;
        font-weight: 700; }
        .navbar .navbar-nav li a:hover {
          color: #d32730;
          background-color: white;
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          text-decoration: none; }
    .navbar .navbar-nav .logo {
      max-width: 250px; }
      .navbar .navbar-nav .logo #logo-link:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
    .navbar .navbar-nav .logo-img {
      max-width: 100%; }
    .navbar .navbar-nav .logo-link-mobile {
      display: none; }
  .navbar .shopping-cart .dropdown .dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    border: none;
    margin-top: 12px;
    font-size: 13px; }
    .navbar .shopping-cart .dropdown .dropdown-menu li a:hover {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .navbar .shopping-cart .dropdown .btn-default {
    border: none; }
  .navbar .shopping-cart .dropdown button {
    background-color: white; }
    .navbar .shopping-cart .dropdown button svg {
      height: 20px;
      width: 20px;
      vertical-align: middle; }
    .navbar .shopping-cart .dropdown button:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      background-color: white; }
  .navbar .shopping-cart .dropdown .btn-default.focus, .navbar .shopping-cart .dropdown .btn-default:focus {
    background-color: white;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

@media (min-width: 768px) {
  .logo-img-mobile {
    display: none; }
  /* Option in the menu, only visible when shopping-cart icon is not*/
  #nettbutikk-hidden {
    display: none; } }

@media (max-width: 767px) {
  .logo-img-mobile {
    position: absolute;
    max-width: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 10px; }
  .navbar-collapse {
    padding: 0; }
  .navbar .navbar-nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: 0;
    margin-top: 40px; }
    .navbar .navbar-nav li {
      width: 100%;
      margin: 0;
      padding: 0; }
      .navbar .navbar-nav li a:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        background-color: #d32730;
        color: white; }
    .navbar .navbar-nav .logo {
      display: none; }
    .navbar .navbar-nav .logo-link-mobile {
      display: block; }
  /* Option in the menu, only visible when shopping-cart icon is not*/
  #nettbutikk-hidden {
    display: block; }
  .shopping-cart {
    display: none !important; } }

/* ------------------------- Enf of Navbar styles ----------------------------------- */
/* -------------------------- INDEX PAGE------------------------------------------*/
#index .img-grid img {
  width: 100%; }

#index .top-img {
  border-top: none; }

#index .center-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #index .center-row .center-tile {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #index .center-row .center-tile .index-main-img-mobile {
      display: none; }
    #index .center-row .center-tile img {
      position: absolute; }
    #index .center-row .center-tile h1 {
      position: absolute;
      margin: 0;
      color: white; }
      #index .center-row .center-tile h1 span {
        display: block; }
      #index .center-row .center-tile h1 .heading {
        font-size: 48px;
        display: block;
        margin-left: -40px;
        margin-bottom: -20px; }
      #index .center-row .center-tile h1 .subheading {
        font-size: 58px;
        display: block;
        margin-right: -40px; }

#index #produktkatalog #produktkatalog-grid {
  background-color: #f7f7f7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  #index #produktkatalog #produktkatalog-grid img {
    max-width: 100%; }
  #index #produktkatalog #produktkatalog-grid .imgkatalog {
    padding: 40px 50px 30px 160px; }
  #index #produktkatalog #produktkatalog-grid .katalog {
    font-size: 50px;
    line-height: 60px;
    padding-right: 330px;
    color: #797979; }
  #index #produktkatalog #produktkatalog-grid span {
    font-weight: 700; }

#index #artikkel-liste {
  padding-top: 40px; }
  #index #artikkel-liste img {
    width: 100%; }
  #index #artikkel-liste .artikkeltekstkolonne {
    padding: 0px 20px; }
  #index #artikkel-liste h2 {
    text-transform: uppercase;
    font-size: 40px; }
    #index #artikkel-liste h2 .boldleft {
      font-weight: 900;
      display: block; }
    #index #artikkel-liste h2 .slimright {
      float: right; }
  #index #artikkel-liste .artikkeltekst {
    clear: both;
    margin-top: 60px;
    margin-bottom: 20px;
    line-height: 25px; }

@media (max-width: 991px) {
  #index #produktkatalog #produktkatalog-grid {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 991px) {
  #index #produktkatalog #produktkatalog-grid .imgkatalog {
    padding: 10px 100px; }
  #index #produktkatalog #produktkatalog-grid .katalog {
    padding: 30px;
    text-align: center; } }

@media (max-width: 600px) {
  #index #produktkatalog #produktkatalog-grid .imgkatalog {
    padding: 10px 30px; }
  #index #produktkatalog #produktkatalog-grid .katalog {
    padding: 20px;
    text-align: center; } }

@media (min-width: 991px) and (max-width: 1366px) {
  #index #produktkatalog #produktkatalog-grid .katalog {
    padding-right: 120px; } }

@media (max-width: 767px) {
  #index .img-grid img {
    display: none; }
  #index .center-row .center-tile .index-main-img-mobile {
    display: block; }
  #index .center-row .center-tile img {
    position: static;
    display: none; } }

@media (min-width: 991px) and (max-width: 1117px) {
  #index #artikkel-liste .displaynone {
    display: none; }
  #index #artikkel-liste .longertablet {
    width: 55%; } }

@media (max-width: 767px) {
  #index .img-grid img {
    display: none; }
  #index .center-row .center-tile .index-main-img-mobile {
    display: block; }
  #index .center-row .center-tile img {
    position: static;
    display: none; } }

@media (max-width: 991px) {
  #index #artikkel-liste img {
    max-width: 60%;
    margin-left: 20%; }
  #index #artikkel-liste h2 {
    text-align: center; }
    #index #artikkel-liste h2 .boldleft {
      font-weight: 900;
      display: inline; }
    #index #artikkel-liste h2 .slimright {
      float: none; }
  #index #artikkel-liste .artikkeltekst {
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 25px;
    margin-left: 20%;
    margin-right: 20%; }
  #index #artikkel-liste .see-more-link {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%; } }

@media (max-width: 767px) {
  #index #artikkel-liste img {
    max-width: 85%;
    margin-left: 5%; }
  #index #artikkel-liste h2 {
    text-align: center; }
    #index #artikkel-liste h2 .boldleft {
      font-weight: 900;
      display: inline; }
    #index #artikkel-liste h2 .slimright {
      float: none; }
  #index #artikkel-liste .artikkeltekst {
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 25px;
    margin-left: 5%;
    margin-right: 5%; }
  #index #artikkel-liste .see-more-link {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%; } }

/*------------- END OF INDEX PAGE -------------------------------*/
/*-------------- VARMELØSNINGER PAGE -------------------------------- */
#varmelosninger .backgroundgrey {
  background-color: #f7f7f7;
  padding: 30px 0px 30px 0px;
  margin-bottom: 40px; }
  #varmelosninger .backgroundgrey h1 {
    text-transform: uppercase; }

#varmelosninger .product-section {
  margin-bottom: 50px; }

#varmelosninger .backgroundgreyvarmelosning {
  background-color: #f7f7f7;
  padding: 30px 0px 30px 0px;
  margin-bottom: 40px; }

#varmelosninger .img-col-left {
  padding-left: 20px; }

#varmelosninger .img-col-right {
  padding-right: 20px; }

#varmelosninger .img-col-left, #varmelosninger .img-col-right {
  padding-left: 20px; }
  #varmelosninger .img-col-left img, #varmelosninger .img-col-right img {
    max-width: 100%; }

#varmelosninger .infotext, #varmelosninger .products {
  padding-left: 20px;
  padding-right: 20px; }

#varmelosninger h3 {
  font-size: 20px;
  text-transform: uppercase; }
  #varmelosninger h3 span {
    font-weight: bold; }

#varmelosninger #varmelosningtop .center {
  text-align: center; }

#varmelosninger .products h3 {
  margin-bottom: 20px; }

#varmelosninger .products .product {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
  #varmelosninger .products .product .product-img img {
    max-width: 50px; }
  #varmelosninger .products .product .product-text {
    margin-top: -10px;
    margin-left: 5px; }
    #varmelosninger .products .product .product-text h4 {
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 800; }

@media (max-width: 991px) {
  #varmelosninger #varmelosningtop {
    max-width: 80%;
    margin: 0 auto; }
  #varmelosninger .product-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #varmelosninger .product-section .img-col {
      max-width: 63%;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      margin: 0;
      padding: 0; }
    #varmelosninger .product-section .infotext {
      max-width: 63%;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      padding-left: 5px;
      padding-right: 0; }
    #varmelosninger .product-section .products {
      max-width: 63%;
      width: 100%;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3;
      padding-left: 5px;
      padding-right: 0; } }

@media (max-width: 768px) {
  #varmelosninger #varmelosningtop {
    max-width: 90%; }
  #varmelosninger .product-section .img-col {
    max-width: 80%; }
  #varmelosninger .product-section .infotext {
    max-width: 80%; }
  #varmelosninger .product-section .products {
    max-width: 80%; } }

@media (max-width: 490px) {
  #varmelosninger #varmelosningtop h1 span {
    display: block; }
  #varmelosninger .product-section .img-col {
    max-width: 90%; }
  #varmelosninger .product-section .infotext {
    max-width: 90%; }
  #varmelosninger .product-section .products {
    max-width: 90%; } }

/*-------------- END OF VARMELØSNINGER PAGE --------------------------------* */
/*-------------- VARMESTYRING PAGE -------------------------------- */
#varmestyring .background-grey {
  background-color: #f7f7f7;
  padding: 30px 0px 30px 0px;
  margin-bottom: 40px; }

#varmestyring #termostat-typer {
  margin-bottom: 40px; }
  #varmestyring #termostat-typer h2 {
    text-align: center;
    margin-top: 5px;
    color: black;
    text-transform: uppercase; }
  #varmestyring #termostat-typer .termostat-illustration {
    max-width: 80px;
    margin: 0 auto;
    display: block; }
  #varmestyring #termostat-typer .termostat-box {
    padding: 30px 30px 0 30px; }
    #varmestyring #termostat-typer .termostat-box img {
      width: 100%; }
    #varmestyring #termostat-typer .termostat-box h3 {
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      color: black;
      text-transform: uppercase;
      text-align: center; }
    #varmestyring #termostat-typer .termostat-box p {
      line-height: 22px;
      text-align: center; }

#varmestyring .padding {
  padding: 10px 60px 40px 60px; }

#varmestyring .invisiarticle {
  padding: 20px; }

#varmestyring .first {
  margin-left: -20px; }

#varmestyring .center {
  text-align: center; }

#varmestyring .whitearticle {
  background-color: white;
  padding: 10px 30px 30px 30px;
  margin: 0px 20px; }

#varmestyring h1 {
  padding-bottom: 20px; }

#varmestyring .smallerp {
  text-align: center;
  font-size: 14px;
  line-height: 22px; }

#varmestyring #utendors {
  padding: 10px 0px;
  margin-bottom: 50px; }
  #varmestyring #utendors .col-md-7 {
    padding: 0px 100px 0px 50px; }
  #varmestyring #utendors img {
    width: 100%; }
  #varmestyring #utendors h2 {
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    letter-spacing: 1px;
    color: #333f48; }
  #varmestyring #utendors h3 {
    padding-bottom: 10px; }
  #varmestyring #utendors h4 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase; }
  #varmestyring #utendors p {
    line-height: 22px; }

/*-------------- END OF VARMESTYRING PAGE --------------------------------* */
/*-------------- SMARTHUS PAGE -------------------------------- */
#smarthus img {
  width: 100%; }

#smarthus .imgsmarthus {
  max-width: 80px;
  margin: 0 auto; }

#smarthus .articlebox {
  padding: 10px 30px 30px 30px;
  height: 370px; }

#smarthus .articleboxeksempel {
  padding: 20px 30px;
  border: solid #ccc 1px;
  min-height: 240px;
  position: relative; }

#smarthus .borderarticle {
  padding: 30px; }

#smarthus .smarthusH2 {
  text-align: center;
  margin-top: 5px;
  color: black;
  text-transform: uppercase; }

#smarthus .backgroundgreyarticle {
  background-color: #f7f7f7;
  margin-bottom: 40px; }
  #smarthus .backgroundgreyarticle .article-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #smarthus .backgroundgreyarticle .text-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

#smarthus #artikkel-smarthus-styring .text-container {
  margin-right: 20px; }

#smarthus #artikkel-danalock .text-container {
  margin-left: 20px; }

#smarthus .h3smart {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: black; }

#smarthus .psmart {
  line-height: 22px; }

#smarthus .smarthuspadding {
  padding: 30px 30px 0px 30px; }

#smarthus .see-more-link-smarthus {
  text-align: center;
  position: absolute;
  left: 42%;
  bottom: 0; }
  #smarthus .see-more-link-smarthus a:hover {
    text-decoration: none; }

#smarthus .buttontext-smarthus {
  color: #d32730;
  display: inline;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em; }

#smarthus .padding {
  margin-bottom: 40px; }

@media (max-width: 1000px) {
  #smarthus .borderarticle {
    padding: 10px; } }

@media (min-width: 860px) and (max-width: 980px) {
  #smarthus #smarthus-info {
    margin-bottom: 40px; } }

@media (min-width: 768px) and (max-width: 860px) {
  #smarthus #smarthus-info {
    margin-bottom: 100px; } }

@media (max-width: 768px) {
  #smarthus .background-grey {
    padding: 30px 30px 30px 30px; }
    #smarthus .background-grey p {
      text-align: left; }
  #smarthus .articleboxeksempel {
    min-height: 150px; }
  #smarthus #smarthus-info img {
    display: none; }
  #smarthus #smarthus-info .articlebox {
    height: auto; }
  #smarthus #artikkel-smarthus-styring .img-container {
    display: none; }
  #smarthus #artikkel-smarthus-styring .text-container {
    margin-left: 20px; }
    #smarthus #artikkel-smarthus-styring .text-container img {
      width: 50%; }
  #smarthus #artikkel-danalock .img-container {
    display: none; }
  #smarthus #artikkel-danalock .text-container {
    margin-right: 20px; } }

/*-------------- END OF SMARTHUS PAGE --------------------------------* */
/*-------------- ARTICLE PAGE -------------------------------- */
#article .artikkelh1 {
  text-transform: uppercase;
  font-size: 50px; }

#article #boldh1 {
  font-weight: 600;
  display: inline; }

#article .breadcrumbs {
  border-bottom: solid 1px #ccc;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 600;
  margin: 10px 0px; }

#article .ingress {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  margin: 30px 0px; }

#article img {
  max-width: 100%; }

#article #infotext {
  padding: 0px 100px 0px 50px; }

#article #text {
  padding: 0px 50px; }
  #article #text p {
    padding: 40px;
    line-height: 26px;
    font-size: 16px; }

@media (max-width: 991px) {
  #article #text p {
    padding: 0px; } }

/*-------------- END OF ARTICLE PAGE --------------------------------* */
/*-------------- KONTAKT PAGE --------------------------------------- */
#kontaktside .background-grey {
  background-color: #f7f7f7;
  padding: 30px 0px 30px 0px;
  margin-bottom: 40px; }

#kontaktside h3 {
  text-align: center; }

#kontaktside h4 {
  margin-top: 20px;
  text-align: left; }

#kontaktside p {
  text-align: left; }

#kontaktside .profile {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
  #kontaktside .profile .profile-img img {
    max-width: 150px; }
  #kontaktside .profile .profile-text {
    margin-top: 20px;
    margin-left: 5px; }

/*-------------- END OF KONTAKT PAGE --------------------------------* */
/*-------------- CONTACT INSTALLATOR PAGE -------------------------------- */
#contact_installator {
  padding: 0px 100px;
  margin-bottom: 50px; }
  #contact_installator h2 {
    text-transform: uppercase; }
  #contact_installator #boldh2 {
    font-weight: 600;
    display: inline; }
  #contact_installator p {
    margin-top: 10px; }
  #contact_installator #morespace {
    margin-top: 100px; }
  #contact_installator #epost-input, #contact_installator #text-input, #contact_installator #phone-input {
    width: 100%;
    border: none;
    background-color: #f7f7f7;
    padding: 7px;
    margin: 5px 0px; }
  #contact_installator #place-input {
    width: 85%;
    border: none;
    background-color: #f7f7f7;
    padding: 7px;
    margin: 5px 0px; }
  #contact_installator #googlemap {
    width: 100%;
    height: 200px; }

@media (max-width: 991px) {
  #contact_installator {
    padding: 50px; }
    #contact_installator #place-input {
      width: 100%; }
    #contact_installator #morespace {
      margin-top: 10px; } }
