/* Imports */
// @import "normalize"

/* Variables */
$red: #d32730
$black: black
$white: white
$light-black: #797979
$footer: #333f48
$dark-footer: #313b42
$grey: #f7f7f7
$darker-grey: #929292

/* ----------------------------------General stuff ------------------------- */

/* Removing the space around Bootstrap columns */
[class*="col-"]
	padding-left: 0
	padding-right: 0

	.row
		margin-left: 0
		margin-right: 0

	.container-fluid
		margin: 0
		padding: 0

body
	font-family: "MyriadPro-Regular", sans-serif

@font-face
	font-family: "MyriadPro-Regular"
	src: url("../fonts/myriad/MyriadPro-Regular.otf") format("opentype")

.see-more-link
	border-bottom: solid #ccc 1px
	padding-top: 10px
	a:hover
		text-decoration: none
	.buttontext
		color: $red
		display: inline
		text-transform: uppercase
		font-size: 12px
		font-weight: 500
		letter-spacing: 0.05em
		padding-left: 10px
	.arrow
		color: $red
		display: inline
		padding-left: 5px
		font-size: 18px

.background-grey
	background-color: #f7f7f7
	padding: 30px 0px 30px 0px
	margin-bottom: 40px
	h1
		text-align: center
		text-transform: uppercase
	p
		text-align: center
		font-size: 18px
		line-height: 22px

/* ------------------------- Footer styles ----------------------------------- */
#footer
	background-color: $footer
	color: $white
	min-height: 260px
	// padding: 20px 160px 20px 160px
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

	#nyhetsbrev
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		// max-width: 300px
		padding: 100px
		h3
			margin: 0
			margin-bottom: 20px
			margin-bottom: 10px
			text-transform: uppercase
		p
			margin-bottom: 20px
			max-width: 300px

		input[type="email"]
			background-color: $darker-grey
			border: none
			color: $footer
			padding: 10px
			font-weight: 700
			&:focus
				outline: none
				box-shadow: 0 0 2pt 1pt $black

			&::placeholder
				// border: 2px solid $footer
				color: $footer
				font-weight: 700

		button
			border: none
			background: $footer
			position: relative
			span
				position: absolute
				font-size: 42px
				margin-left: 10px
				top: -35px
				transition: all 100ms
		&:hover
			span
				transform: scale(1.2)
				transition: all 100ms


	#sosiale-medier
		display: flex
		justify-content: center
		align-items: center
		background-color: $dark-footer
		// padding-top: 20px
		.item-list
			margin: 20px
			display: flex
			.item
				margin-right: 20px
			&:last-child
				margin-right: 0
			svg
				height: 35px
				width: 35px
				path
					fill: $darker-grey

	#footer-logo
		// padding-bottom: 50px
		background-color: $dark-footer
		display: flex
		justify-content: center
		align-items: center
		svg
			max-width: 150px
			max-height: 60px
			path
				fill: $darker-grey

/* ------------------------- End of footer styles ----------------------------------- */

/* ------------------------- Navbar styles ----------------------------------- */
// Bootstrap navbar stylings
.navbar-default .navbar-toggle
	position: absolute
	left: 0
	margin-left: 20px

.navbar
	margin-left: -15px
	margin-right: -15px
	background-color: $white
	border: none
	margin-bottom: 0
	margin-top: 0
	.navbar-nav
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
		li
			padding: 10px
			text-transform: uppercase
			a
				color: $black
				font-weight: 700
				&:hover
					color: $red
					background-color: $white
					transform: scale(1.1)
					text-decoration: none
		.logo
			max-width: 250px
			#logo-link:hover
				transform: scale(1.0)

		.logo-img
			max-width: 100%

		.logo-link-mobile
			display: none

	.shopping-cart
		.dropdown
			.dropdown-menu
				box-shadow: none
				border-radius: 0
				border: none
				margin-top: 12px
				font-size: 13px
				li a:hover
					transform: scale(1.0)

			.btn-default
				border: none
			button
				background-color: $white
				svg
					height: 20px
					width: 20px
					vertical-align: middle
					// margin-top: 5px
				&:hover
					transform: scale(1.2)
					background-color: $white
			.btn-default.focus, .btn-default:focus
				background-color: $white
				transform: scale(1.2)

@media (min-width: 768px)
	.logo-img-mobile
		display: none
	/* Option in the menu, only visible when shopping-cart icon is not*/
	#nettbutikk-hidden
		display: none

@media (max-width: 767px)
	.logo-img-mobile
		position: absolute
		max-width: 150px
		left: 0
		right: 0
		margin: 0 auto
		margin-top: 10px

	.navbar-collapse
		padding: 0
	.navbar .navbar-nav
		flex-direction: column
		padding: 0
		width: 100%
		margin: 0
		margin-top: 40px
		li
			width: 100%
			margin: 0
			padding: 0
			// margin-left: -15px
			a:hover
				transform: scale(1.0)
				background-color: $red
				color: $white
		.logo
			display: none
		.logo-link-mobile
			display: block

	/* Option in the menu, only visible when shopping-cart icon is not*/
	#nettbutikk-hidden
		display: block

	.shopping-cart
		// margin-left: 30px!important
		// margin-bottom: 10px!important
		display: none!important

// End of bootstrap navbar stylings
/* ------------------------- Enf of Navbar styles ----------------------------------- */

/* -------------------------- INDEX PAGE------------------------------------------*/
#index
	.img-grid img
		width: 100%
		// border: 2px solid $white

	.top-img
		border-top: none

	.center-row
		display: flex
		// [class*="col-"]
		// 	display: flex
		.center-tile
			position: relative
			display: flex
			align-items: center
			justify-content: center
			.index-main-img-mobile
				display: none
			img
				position: absolute
			h1
				position: absolute
				margin: 0
				color: $white
				// font-size: 52px
				span
					display: block
				.heading
					font-size: 48px
					display: block
					margin-left: -40px
					margin-bottom: -20px
				.subheading
					font-size: 58px
					display: block
					margin-right: -40px

	#produktkatalog
		#produktkatalog-grid
			background-color: #f7f7f7
			display: flex
			align-items: center
			img
				max-width: 100%
			.imgkatalog
				padding: 40px 50px 30px 160px
			.katalog
				font-size: 50px
				line-height: 60px
				padding-right: 330px
				color: $light-black
			span
				font-weight: 700

	#artikkel-liste
		margin: 50px
		padding-top: 50px
		img
			width: 100%
		.artikkeltekstkolonne
			padding: 0px 20px
		h2
			text-transform: uppercase
			font-size: 40px
			margin-top: 20px
			.boldleft
				font-weight: 900
				display: block
			.slimright
				float: right
		.artikkeltekst
			clear: both
			margin-top: 80px
			margin-bottom: 20px
			line-height: 25px
		.morespace
			margin-bottom: 140px
@media (max-width: 991px)
	#index
		#produktkatalog
			#produktkatalog-grid
				flex-direction: column

@media (max-width: 991px)
	#index
		#produktkatalog
			#produktkatalog-grid
				.imgkatalog
					padding: 10px 100px
				.katalog
					padding: 30px
					text-align: center

@media (max-width: 600px)
	#index
		#produktkatalog
			#produktkatalog-grid
				.imgkatalog
					padding: 10px 30px
				.katalog
					padding: 20px
					text-align: center

@media (min-width: 991px) and (max-width: 1366px)
	#index
		#produktkatalog
			#produktkatalog-grid
				.katalog
					padding-right: 120px

@media (max-width: 767px)
	#index
		.img-grid img
			display: none
		.center-row .center-tile
			.index-main-img-mobile
				display: block
			img
				position: static
				display: none

@media (min-width: 991px) and (max-width: 1117px)
	#index
		#artikkel-liste
			.displaynone
				display: none
			/*.longertablet
				width: 55%*/



@media (max-width: 767px)
	#index
		.img-grid img
			display: none
		.center-row .center-tile
			.index-main-img-mobile
				display: block
			img
				position: static
				display: none
@media (max-width: 991px)
	#index
		#artikkel-liste
			img
				max-width: 60%
				margin-left: 20%
			h2
				text-align: center
				.boldleft
					font-weight: 900
					display: inline
				.slimright
					float: none
			.artikkeltekst
				margin-top: 30px
				margin-bottom: 20px
				line-height: 25px
				margin-left: 20%
				margin-right: 20%
			.see-more-link
				margin-left: 20%
				margin-right: 20%
				margin-bottom: 10%

@media (max-width: 767px)
	#index
		#artikkel-liste
			img
				max-width: 85%
				margin-left: 5%
			h2
				text-align: center
				.boldleft
					font-weight: 900
					display: inline
				.slimright
					float: none
			.artikkeltekst
				margin-top: 30px
				margin-bottom: 20px
				line-height: 25px
				margin-left: 5%
				margin-right: 5%
			.see-more-link
				margin-left: 5%
				margin-right: 5%
				margin-bottom: 5%
/*------------- END OF INDEX PAGE -------------------------------*/

/*-------------- VARMELØSNINGER PAGE -------------------------------- */

#varmelosninger
	.backgroundgrey
		background-color: #f7f7f7
		padding: 30px 0px 30px 0px
		margin-bottom: 40px
		h1
			text-transform: uppercase

	.product-section
		margin-bottom: 50px

	.backgroundgreyvarmelosning
		background-color: #f7f7f7
		padding: 30px 0px 30px 0px
		margin-bottom: 40px

	.img-col-left
		padding-left: 20px
	.img-col-right
		padding-right: 20px

	.img-col-left, .img-col-right
		padding-left: 20px
		img
			max-width: 100%
	.infotext, .products
		padding-left: 20px
		padding-right: 20px

	h3
		font-size: 20px
		text-transform: uppercase
		span
			font-weight: bold

	#varmelosningtop
		.center
			text-align: center

	.products
		h3
			margin-bottom: 20px
		.product
			display: flex
			margin-bottom: 10px
			.product-img img
				max-width: 50px
			.product-text
				margin-top: -10px
				margin-left: 5px
				h4
					margin-bottom: 0
					text-transform: uppercase
					font-size: 14px
					font-weight: 800
@media (max-width: 991px)
	#varmelosninger
		#varmelosningtop
			max-width: 80%
			margin: 0 auto
		.product-section
			display: flex
			flex-direction: column
			align-items: center
			.img-col
				max-width: 63%
				order: 1
				margin: 0
				padding: 0
			.infotext
				max-width: 63%
				order: 2
				padding-left: 5px
				padding-right: 0
			.products
				max-width: 63%
				width: 100%
				order: 3
				padding-left: 5px
				padding-right: 0

@media (max-width: 768px)
	#varmelosninger
		#varmelosningtop
			max-width: 90%
		.product-section
			.img-col
				max-width: 80%
			.infotext
				max-width: 80%
			.products
				max-width: 80%

@media (max-width: 490px)
	#varmelosninger
		#varmelosningtop h1 span
			display: block

		.product-section
			.img-col
				max-width: 90%
			.infotext
				max-width: 90%
			.products
				max-width: 90%
/*-------------- END OF VARMELØSNINGER PAGE --------------------------------* */

/*-------------- VARMESTYRING PAGE -------------------------------- */
#varmestyring
	.background-grey
		background-color: #f7f7f7
		padding: 30px 0px 30px 0px
		margin-bottom: 40px

	#termostat-typer
		margin-bottom: 40px
		h2
			text-align: center
			margin-top: 5px
			color: black
			text-transform: uppercase
		.termostat-illustration
			max-width: 80px
			margin: 0 auto
			display: block
		.termostat-box
			padding: 30px 30px 0 30px
			img
				width: 100%
			h3
				font-size: 16px
				line-height: 20px
				font-weight: 600
				letter-spacing: 1px
				color: black
				text-transform: uppercase
				text-align: center
			p
				line-height: 22px
				text-align: center
	.padding
		padding: 10px 60px 40px 60px
	.invisiarticle
		padding: 20px
	.first
		margin-left: -20px
	.center
		text-align: center
	.whitearticle
		background-color: white
		padding: 10px 30px 30px 30px
		//min-height: 310px
		margin: 0px 20px
	h1
		padding-bottom: 20px
	.smallerp
		text-align: center
		font-size: 14px
		line-height: 22px
	#utendors
		padding: 10px 0px
		margin-bottom: 50px
		.col-md-7
			padding: 0px 100px 0px 50px
		img
			width: 100%
		h2
			font-size: 16px
			line-height: 20px
			font-style: italic
			letter-spacing: 1px
			color: $footer
		h3
			padding-bottom: 10px
		h4
			font-size: 16px
			line-height: 20px
			font-weight: 600
			letter-spacing: 1px
			color: black
			text-transform: uppercase
		p
			line-height: 22px



/*-------------- END OF VARMESTYRING PAGE --------------------------------* */

/*-------------- SMARTHUS PAGE -------------------------------- */
#smarthus
	img
		width: 100%
	.imgsmarthus
		max-width: 80px
		margin: 0 auto
	.articlebox
		padding: 10px 30px 30px 30px
		height: 370px
	.articleboxeksempel
		padding: 20px 30px
		border: solid #ccc 1px
		min-height: 240px
		position: relative
	.borderarticle
		padding: 30px
	.smarthusH2
		text-align: center
		margin-top: 5px
		color: black
		text-transform: uppercase

	.backgroundgreyarticle
		background-color: #f7f7f7
		margin-bottom: 40px
		.article-wrapper
			display: flex
		.text-container
			display: flex
			flex-direction: column
			justify-content: center

	#artikkel-smarthus-styring
		.text-container
			margin-right: 20px

	#artikkel-danalock
		.text-container
			margin-left: 20px

	.h3smart
		font-size: 16px
		line-height: 20px
		font-weight: 600
		letter-spacing: 1px
		// text-align: center
		color: black
	.psmart
		line-height: 22px
		// text-align: center
		// margin-bottom: 40px
	.smarthuspadding
		padding: 30px 30px 0px 30px
	.see-more-link-smarthus
		a:hover
			text-decoration: none
		text-align: center
		position: absolute
		left: 42%
		bottom: 0
	.buttontext-smarthus
		color: $red
		display: inline
		text-transform: uppercase
		font-size: 12px
		font-weight: 500
		letter-spacing: 0.05em
	.smarthusarticle
		// padding-top: 30p
	.padding
		margin-bottom: 40px

@media (max-width: 1000px)
	#smarthus
		.borderarticle
			padding: 10px

@media (min-width: 860px) and (max-width: 980px)
	#smarthus
		#smarthus-info
			margin-bottom: 40px

@media (min-width: 768px) and (max-width: 860px)
	#smarthus
		#smarthus-info
			margin-bottom: 100px

@media (max-width: 768px)
	#smarthus
		.background-grey
			padding: 30px 30px 30px 30px
			p
				text-align: left

		.articleboxeksempel
			min-height: 150px

		#smarthus-info
			img
				display: none
			.articlebox
				height: auto

		#artikkel-smarthus-styring
			.img-container
				display: none
			.text-container
				margin-left: 20px
				img
					width: 50%

		#artikkel-danalock
			.img-container
				display: none
			.text-container
				margin-right: 20px






/*-------------- END OF SMARTHUS PAGE --------------------------------* */

/*-------------- ARTICLE PAGE -------------------------------- */

#article
	.artikkelh1
		text-transform: uppercase
		font-size: 50px
	#boldh1
		font-weight: 600
		display: inline
	.breadcrumbs
		border-bottom: solid 1px #ccc
		margin-bottom: 40px
		font-size: 12px
		padding: 15px 0px
		margin-top: 27px
		font-weight: 600
		//margin: 10px 0px
	.ingress
		font-weight: 600
		font-size: 18px
		line-height: 32px
		//margin: 30px 0px
	img
		max-width: 100%
		img-align: middle
	#infotext
		padding: 50px 50px 60px 60px
		background-color: $white
		margin-top: -200px
		text-align: center
	#text
		padding: 0px 0px
		p
			//padding: 40px
			line-height: 26px
			font-size: 16px
	#topimg
		background-image: url(../img/index/artikkel_2.jpg)
		background-repeat: no-repeat
		background-size: cover
		background-attachment: fixed
		background-position: center -450px
		height: 550px
	#products
		padding: 20px 40px
		background-color: $grey
		h3
			font-size: 18px
			line-height: 20px
			letter-spacing: 1px
			font-weight: 600
			text-transform: uppercase
			color: black
			text-align: center
			padding-bottom: 20px
			padding-top: 5px
		h3
			margin-bottom: 20px
		.product
			display: flex
			margin-bottom: 20px
			.product-img img
				max-width: 75px
			.product-text
				margin-top: -12px
				margin-left: 15px
				h4
					margin-bottom: 0
					text-transform: uppercase
					font-size: 14px
					font-weight: 600
					line-height: 20px
				p
					font-size: 12px
					font-weight: 600


@media (max-width: 991px)
	#article
		#text
			p
				padding: 0px

/*-------------- END OF ARTICLE PAGE --------------------------------* */

/*-------------- KONTAKT PAGE --------------------------------------- */
#kontaktside
	.background-grey
		background-color: #f7f7f7
		padding: 30px 0px 30px 0px
		margin-bottom: 40px

	h3
		text-align: center

	h4
		margin-top: 20px
		text-align: left

	p
		text-align: left

	.profile
		display: flex
		margin-bottom: 10px
		.profile-img img
			max-width: 150px
		.profile-text
			margin-top: 20px
			margin-left: 5px




/*-------------- END OF KONTAKT PAGE --------------------------------* */

/*-------------- CONTACT INSTALLATOR PAGE -------------------------------- */

#contact_installator
	padding: 0px 100px
	margin-bottom: 50px
	h2
		text-transform: uppercase
	#boldh2
		font-weight: 600
		display: inline
	p
		margin-top: 10px
	#morespace
		margin-top: 100px
	#epost-input, #text-input, #phone-input
		width: 100%
		border: none
		background-color: $grey
		padding: 7px
		margin: 5px 0px
	#place-input
		width: 85%
		border: none
		background-color: $grey
		padding: 7px
		margin: 5px 0px
	#googlemap
		width: 100%
		height: 200px
@media (max-width: 991px)
	#contact_installator
		padding: 50px
		#place-input
			width: 100%
		#morespace
			margin-top: 10px
