/* Imports */
/* Variables */
/* ----------------------------------General stuff ------------------------- */
/* Removing the space around Bootstrap columns */
[class*="col-"] {
  padding-left: 0;
  padding-right: 0; }
  [class*="col-"] .row {
    margin-left: 0;
    margin-right: 0; }
  [class*="col-"] .container-fluid {
    margin: 0;
    padding: 0; }

body {
  font-family: "MyriadPro-Regular", sans-serif; }

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/myriad/MyriadPro-Regular.otf") format("opentype"); }

/* ------------------------- Footer styles ----------------------------------- */
#footer {
  background-color: #333f48;
  color: white;
  min-height: 220px; }
  #footer .item-list {
    margin-top: 10px; }
    #footer .item-list .item .icon {
      display: inline-block;
      padding: 5px 5px 0 0; }
      #footer .item-list .item .icon svg {
        height: 25px;
        width: 25px;
        vertical-align: middle; }
        #footer .item-list .item .icon svg path {
          fill: white; }
    #footer .item-list .item .text {
      display: inline; }
      #footer .item-list .item .text span, #footer .item-list .item .text span a {
        font-size: 14px;
        color: white; }
  #footer #sosiale-medier, #footer #kontakt, #footer #nyhetsbrev {
    padding-left: 20px;
    min-height: 200px; }
  #footer #nyhetsbrev {
    padding-right: 20px; }
    #footer #nyhetsbrev input[type="email"] {
      background-color: white;
      border: none;
      border-radius: 5px;
      padding: 5px;
      color: black;
      font-weight: 700;
      font-size: 12px;
      min-width: 50px;
      width: 60%; }
      #footer #nyhetsbrev input[type="email"]:focus {
        outline: none;
        box-shadow: 0 0 2pt 1pt black; }
      #footer #nyhetsbrev input[type="email"]::-webkit-input-placeholder {
        color: #333f48;
        font-weight: 700; }
      #footer #nyhetsbrev input[type="email"]::-moz-placeholder {
        color: #333f48;
        font-weight: 700; }
      #footer #nyhetsbrev input[type="email"]:-ms-input-placeholder {
        color: #333f48;
        font-weight: 700; }
      #footer #nyhetsbrev input[type="email"]::placeholder {
        color: #333f48;
        font-weight: 700; }
    #footer #nyhetsbrev button {
      display: block;
      margin-top: 10px;
      padding: 2px 8px 2px 8px;
      border-radius: 5px;
      background-color: white;
      color: #333f48;
      border: none;
      font-weight: 700; }
      #footer #nyhetsbrev button:hover {
        background-color: #13cc84;
        color: white; }

/* ------------------------- End of footer styles ----------------------------------- */
/* ------------------------- Navbar styles ----------------------------------- */
.navbar-default .navbar-toggle {
  position: absolute;
  left: 0;
  margin-left: 20px; }

.navbar {
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
  border: none;
  margin-bottom: 0;
  margin-top: 0; }
  .navbar .navbar-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    .navbar .navbar-nav li {
      padding: 10px;
      text-transform: uppercase; }
      .navbar .navbar-nav li a {
        color: black;
        font-weight: 700; }
        .navbar .navbar-nav li a:hover {
          color: #d32730;
          background-color: white;
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          text-decoration: none; }
    .navbar .navbar-nav .logo {
      max-width: 250px; }

.shopping-cart svg {
  height: 20px;
  width: 20px;
  vertical-align: middle; }
  .shopping-cart svg path {
    fill: black; }
  .shopping-cart svg #shopping-cart-open .dropdown.menu {
    position: relative;
    display: inline-block;
    vertical-align: middle; }

@media (max-width: 767px) {
  .navbar-collapse {
    padding: 0; }
  .navbar .navbar-nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: 0;
    margin-top: 40px; }
    .navbar .navbar-nav li {
      width: 100%;
      margin: 0;
      padding: 0; }
      .navbar .navbar-nav li a:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        background-color: #d32730;
        color: white; }
    .navbar .navbar-nav .logo {
      display: none; } }

/* ------------------------- Enf of Navbar styles ----------------------------------- */
img {
  width: 100%; }

.top-img {
  border-top: none; }

.center-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .center-row .center-tile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("http://placehold.it/600x200/f1c40f/fff");
    background-image: url("../img/imgindex4.jpg");
    background-size: cover; }
    .center-row .center-tile h1 {
      color: white; }
      .center-row .center-tile h1 span {
        display: block; }
    .center-row .center-tile .heading {
      font-size: 48px;
      display: block;
      margin-left: -40px;
      margin-bottom: -20px; }
    .center-row .center-tile .subheading {
      font-size: 58px;
      display: block;
      margin-right: -40px; }
