/* Imports */
// @import "normalize"

/* Variables */
$red: #d32730
$black: black
$white: white
$light-black: #797979
$footer: #333f48
$grey: #f7f7f7

/* ----------------------------------General stuff ------------------------- */

/* Removing the space around Bootstrap columns */
[class*="col-"]
	padding-left: 0
	padding-right: 0

	.row
		margin-left: 0
		margin-right: 0

	.container-fluid
		margin: 0
		padding: 0

body
	font-family: "MyriadPro-Regular", sans-serif

@font-face
	font-family: "MyriadPro-Regular"
	src: url("../fonts/myriad/MyriadPro-Regular.otf") format("opentype")

.see-more-link
	border-bottom: solid #ccc 1px
	padding-top: 10px
	a:hover
		text-decoration: none
	.buttontext
		color: $red
		display: inline
		text-transform: uppercase
		font-size: 12px
		font-weight: 500
		letter-spacing: 0.05em
		padding-left: 10px
	.arrow
		color: $red
		display: inline
		padding-left: 5px
		font-size: 18px

.background-grey
	background-color: #f7f7f7
	padding: 30px 0px 30px 0px
	margin-bottom: 40px
	h1
		text-align: center
		text-transform: uppercase
	p
		text-align: center
		font-size: 18px
		line-height: 22px

/* ------------------------- Footer styles ----------------------------------- */
#footer
	background-color: $footer
	color: $white
	min-height: 260px
	padding: 20px 160px 20px 160px

	.item-list
		margin-top: 10px

		.item
			.icon
				display: inline-block
				padding: 5px 5px 0 0
				svg
					height: 25px
					width: 25px
					vertical-align: middle
					path
						fill: white
			.leftpadding
				padding-left: 6px

			.text
				display: inline
				span, span a
					font-size: 14px
					color: $white
	.center
		text-align: center
	.right
		text-align: right

	#sosiale-medier, #kontakt, #nyhetsbrev
		// padding: 10px
		padding-left: 20px
		//border-right: 2px solid #4f616f
		min-height: 200px
	#nyhetsbrev
		.smaller
			padding-left: 40px
			padding-right: 40px
		padding-right: 20px
		p
			//max-width: 200px
		input[type="email"]
			background-color: $white
			border: none
			border-radius: 5px
			padding: 5px
			color: black
			font-weight: 700
			font-size: 12px
			min-width: 50px
			width: 60%
			&:focus
				outline: none
				box-shadow: 0 0 2pt 1pt $black

			&::placeholder
				// border: 2px solid $footer
				color: $footer
				font-weight: 700

		button
			display: inline
			margin: 0 auto
			margin-top: 10px
			padding: 2px 8px 2px 8px
			border-radius: 5px
			background-color: $white
			color: $footer
			border: none
			font-weight: 700
			&:hover
				// transform: scale(1.1)
				background-color: #13cc84
				color: $white
/* ------------------------- End of footer styles ----------------------------------- */

/* ------------------------- Navbar styles ----------------------------------- */
// Bootstrap navbar stylings
.navbar-default .navbar-toggle
	position: absolute
	left: 0
	margin-left: 20px

.navbar
	margin-left: -15px
	margin-right: -15px
	background-color: $white
	border: none
	margin-bottom: 0
	margin-top: 0
	.navbar-nav
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
		li
			padding: 10px
			text-transform: uppercase
			a
				color: $black
				font-weight: 700
				&:hover
					color: $red
					background-color: $white
					transform: scale(1.1)
					text-decoration: none
		.logo
			max-width: 250px
			#logo-link:hover
				transform: scale(1.0)

		.logo-img
			max-width: 100%

		.logo-link-mobile
			display: none

	.shopping-cart
		.dropdown
			.dropdown-menu
				box-shadow: none
				border-radius: 0
				border: none
				margin-top: 12px
				font-size: 13px
				li a:hover
					transform: scale(1.0)

			.btn-default
				border: none
			button
				background-color: $white
				svg
					height: 20px
					width: 20px
					vertical-align: middle
					// margin-top: 5px
				&:hover
					transform: scale(1.2)
					background-color: $white
			.btn-default.focus, .btn-default:focus
				background-color: $white
				transform: scale(1.2)

@media (min-width: 768px)
	.logo-img-mobile
		display: none
	/* Option in the menu, only visible when shopping-cart icon is not*/
	#nettbutikk-hidden
		display: none

@media (max-width: 767px)
	.logo-img-mobile
		position: absolute
		max-width: 150px
		left: 0
		right: 0
		margin: 0 auto
		margin-top: 10px

	.navbar-collapse
		padding: 0
	.navbar .navbar-nav
		flex-direction: column
		padding: 0
		width: 100%
		margin: 0
		margin-top: 40px
		li
			width: 100%
			margin: 0
			padding: 0
			// margin-left: -15px
			a:hover
				transform: scale(1.0)
				background-color: $red
				color: $white
		.logo
			display: none
		.logo-link-mobile
			display: block

	/* Option in the menu, only visible when shopping-cart icon is not*/
	#nettbutikk-hidden
		display: block

	.shopping-cart
		// margin-left: 30px!important
		// margin-bottom: 10px!important
		display: none!important

// End of bootstrap navbar stylings
/* ------------------------- Enf of Navbar styles ----------------------------------- */

/* -------------------------- INDEX PAGE------------------------------------------*/
#index
	.img-grid img
		width: 100%
		// border: 2px solid $white

	.top-img
		border-top: none

	.center-row
		display: flex
		// [class*="col-"]
		// 	display: flex
		.center-tile
			position: relative
			display: flex
			align-items: center
			justify-content: center
			.index-main-img-mobile
				display: none
			img
				position: absolute
			h1
				position: absolute
				margin: 0
				color: $white
				// font-size: 52px
				span
					display: block
				.heading
					font-size: 48px
					display: block
					margin-left: -40px
					margin-bottom: -20px
				.subheading
					font-size: 58px
					display: block
					margin-right: -40px

	#produktkatalog
		#produktkatalog-grid
			background-color: #f7f7f7
			display: flex
			align-items: center
			img
				max-width: 100%
			.imgkatalog
				padding: 40px 50px 30px 160px
			.katalog
				font-size: 50px
				line-height: 60px
				padding-right: 330px
				color: $light-black
			span
				font-weight: 700

	#artikkel-liste
		padding-top: 40px
		img
			width: 100%
		.artikkeltekstkolonne
			padding: 0px 20px
		h2
			text-transform: uppercase
			font-size: 40px
			.boldleft
				font-weight: 900
				display: block
			.slimright
				float: right
		.artikkeltekst
			clear: both
			margin-top: 60px
			margin-bottom: 20px
			line-height: 25px

@media (max-width: 767px)
	#index
		.img-grid img
			display: none
		.center-row .center-tile
			.index-main-img-mobile
				display: block
			img
				position: static
				display: none
/*------------- END OF INDEX PAGE -------------------------------*/

/*-------------- VARMELØSNINGER PAGE -------------------------------- */

#varmelosninger
	.backgroundgrey
		background-color: #f7f7f7
		padding: 30px 0px 30px 0px
		margin-bottom: 40px

	.product-section
		margin-bottom: 50px

	.backgroundgreyvarmelosning
		background-color: #f7f7f7
		padding: 30px 0px 30px 0px
		margin-bottom: 40px

	.img-col-left
		padding-left: 20px
	.img-col-right
		padding-right: 20px

	.img-col-left, .img-col-right
		padding-left: 20px
		img
			max-width: 100%
	.infotext, .products
		padding-left: 20px
		padding-right: 20px

	h3
		font-size: 20px
		text-transform: uppercase
		span
			font-weight: bold

	#varmelosningtop
		.center
			text-align: center

	.products
		h3
			margin-bottom: 20px
		.product
			display: flex
			margin-bottom: 10px
			.product-img img
				max-width: 50px
			.product-text
				margin-top: -10px
				margin-left: 5px
				h4
					margin-bottom: 0
					text-transform: uppercase
					font-size: 14px
					font-weight: 800

/*-------------- END OF VARMELØSNINGER PAGE --------------------------------* */

/*-------------- VARMESTYRING PAGE -------------------------------- */
#varmestyring
	.background-grey
		background-color: #f7f7f7
		padding: 30px 0px 30px 0px
		margin-bottom: 40px

	#termostat-typer
		margin-bottom: 40px
		h2
			text-align: center
			margin-top: 5px
			color: black
			text-transform: uppercase
		.termostat-illustration
			max-width: 80px
			margin: 0 auto
			display: block
		.termostat-box
			padding: 30px 30px 0 30px
			img
				width: 100%
			h3
				font-size: 16px
				line-height: 20px
				font-weight: 600
				letter-spacing: 1px
				color: black
				text-transform: uppercase
				text-align: center
			p
				line-height: 22px
				text-align: center
	.padding
		padding: 10px 60px 40px 60px
	.invisiarticle
		padding: 20px
	.first
		margin-left: -20px
	.center
		text-align: center
	.whitearticle
		background-color: white
		padding: 10px 30px 30px 30px
		//min-height: 310px
		margin: 0px 20px
	h1
		padding-bottom: 20px
	.smallerp
		text-align: center
		font-size: 14px
		line-height: 22px


/*-------------- END OF VARMESTYRING PAGE --------------------------------* */

/*-------------- SMARTHUS PAGE -------------------------------- */
#smarthus
	img
		width: 100%
	.imgsmarthus
		max-width: 80px
		margin: 0 auto
	.articlebox
		padding: 10px 30px 30px 30px
		height: 370px
	.articleboxeksempel
		padding: 20px 30px
		border: solid #ccc 1px
		min-height: 240px
		position: relative
	.borderarticle
		padding: 30px
	.smarthusH2
		text-align: center
		margin-top: 5px
		color: black
		text-transform: uppercase

	.backgroundgreyarticle
		background-color: #f7f7f7
		margin-bottom: 40px
	.h3smart
		font-size: 16px
		line-height: 20px
		font-weight: 600
		letter-spacing: 1px
		text-align: center
		color: black
	.psmart
		line-height: 22px
		text-align: center
		margin-bottom: 40px
	.smarthuspadding
		padding: 30px 30px 0px 30px
	.see-more-link-smarthus
		a:hover
			text-decoration: none
		text-align: center
		position: absolute
		left: 42%
		bottom: 0
	.buttontext-smarthus
		color: $red
		display: inline
		text-transform: uppercase
		font-size: 12px
		font-weight: 500
		letter-spacing: 0.05em
	.smarthusarticle
		padding-top: 30px
	.padding
		margin-bottom: 40px





/*-------------- END OF SMARTHUS PAGE --------------------------------* */

/*-------------- ARTICLE PAGE -------------------------------- */

#article
	.artikkelh1
		text-transform: uppercase
		font-size: 50px
	#boldh1 
		font-weight: 600
		display: inline
	.breadcrumbs
		border-bottom: solid 1px #ccc
		margin-bottom: 20px
		font-size: 12px
		font-weight: 600
		margin: 10px 0px
	.ingress
		font-weight: 600
		font-size: 18px
		line-height: 32px
		margin: 30px 0px
	img
		max-width: 100%
	#infotext
		padding: 0px 100px 0px 50px
	#text
		padding: 0px 50px
		p
			padding: 40px
			line-height: 26px
			font-size: 16px

/*-------------- END OF ARTICLE PAGE --------------------------------* */

/*-------------- CONTACT INSTALLATOR PAGE -------------------------------- */
	
#contact_installator
	padding: 0px 100px
	margin-bottom: 50px
	h2
		text-transform: uppercase
	#boldh2 
		font-weight: 600
		display: inline
	p
		margin-top: 10px
	#morespace 
		margin-top: 100px
	#epost-input, #text-input, #phone-input
		width: 100%
		border: none
		background-color: $grey
		padding: 7px
		margin: 5px 0px
	#place-input
		width: 85%
		border: none
		background-color: $grey
		padding: 7px
		margin: 5px 0px
	#googlemap
		width: 100%
		height: 200px