@charset "UTF-8";
/* Imports */
/* Variables */
/* ----------------------------------General stuff ------------------------- */
/* Removing the space around Bootstrap columns */
[class*="col-"] {
  padding-left: 0;
  padding-right: 0; }
  [class*="col-"] .row {
    margin-left: 0;
    margin-right: 0; }
  [class*="col-"] .container-fluid {
    margin: 0;
    padding: 0; }

body {
  font-family: "MyriadPro-Regular", sans-serif; }

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/myriad/MyriadPro-Regular.otf") format("opentype"); }

.see-more-link {
  border-bottom: solid #ccc 1px;
  padding-top: 10px; }
  .see-more-link a:hover {
    text-decoration: none; }
  .see-more-link .buttontext {
    color: #d32730;
    display: inline;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
    padding-left: 10px; }
  .see-more-link .arrow {
    color: #d32730;
    display: inline;
    padding-left: 5px;
    font-size: 18px; }

/* ------------------------- Footer styles ----------------------------------- */
#footer {
  background-color: #333f48;
  color: white;
  min-height: 220px;
  padding-left: 120px;
  padding-right: 120px; }
  #footer .item-list {
    margin-top: 10px; }
    #footer .item-list .item .icon {
      display: inline-block;
      padding: 5px 5px 0 0; }
      #footer .item-list .item .icon svg {
        height: 25px;
        width: 25px;
        vertical-align: middle; }
        #footer .item-list .item .icon svg path {
          fill: white; }
    #footer .item-list .item .text {
      display: inline; }
      #footer .item-list .item .text span, #footer .item-list .item .text span a {
        font-size: 14px;
        color: white; }
  #footer #sosiale-medier, #footer #kontakt, #footer #nyhetsbrev {
    padding-left: 20px;
    min-height: 200px; }
  #footer #nyhetsbrev {
    padding-right: 20px; }
    #footer #nyhetsbrev p {
      max-width: 200px; }
    #footer #nyhetsbrev input[type="email"] {
      background-color: white;
      border: none;
      border-radius: 5px;
      padding: 5px;
      color: black;
      font-weight: 700;
      font-size: 12px;
      min-width: 50px;
      width: 60%; }
      #footer #nyhetsbrev input[type="email"]:focus {
        outline: none;
        box-shadow: 0 0 2pt 1pt black; }
      #footer #nyhetsbrev input[type="email"]::-webkit-input-placeholder {
        color: #333f48;
        font-weight: 700; }
      #footer #nyhetsbrev input[type="email"]::-moz-placeholder {
        color: #333f48;
        font-weight: 700; }
      #footer #nyhetsbrev input[type="email"]:-ms-input-placeholder {
        color: #333f48;
        font-weight: 700; }
      #footer #nyhetsbrev input[type="email"]::placeholder {
        color: #333f48;
        font-weight: 700; }
    #footer #nyhetsbrev button {
      display: block;
      margin-top: 10px;
      padding: 2px 8px 2px 8px;
      border-radius: 5px;
      background-color: white;
      color: #333f48;
      border: none;
      font-weight: 700; }
      #footer #nyhetsbrev button:hover {
        background-color: #13cc84;
        color: white; }

/* ------------------------- End of footer styles ----------------------------------- */
/* ------------------------- Navbar styles ----------------------------------- */
.navbar-default .navbar-toggle {
  position: absolute;
  left: 0;
  margin-left: 20px; }

.navbar {
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
  border: none;
  margin-bottom: 0;
  margin-top: 0; }
  .navbar .navbar-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    .navbar .navbar-nav li {
      padding: 10px;
      text-transform: uppercase; }
      .navbar .navbar-nav li a {
        color: black;
        font-weight: 700; }
        .navbar .navbar-nav li a:hover {
          color: #d32730;
          background-color: white;
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          text-decoration: none; }
    .navbar .navbar-nav .logo {
      max-width: 250px; }
      .navbar .navbar-nav .logo #logo-link:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
    .navbar .navbar-nav .logo-img {
      max-width: 100%; }
    .navbar .navbar-nav .logo-link-mobile {
      display: none; }
  .navbar .shopping-cart .dropdown .dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    border: none;
    margin-top: 12px;
    font-size: 13px; }
    .navbar .shopping-cart .dropdown .dropdown-menu li a:hover {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .navbar .shopping-cart .dropdown .btn-default {
    border: none; }
  .navbar .shopping-cart .dropdown button {
    background-color: white; }
    .navbar .shopping-cart .dropdown button svg {
      height: 20px;
      width: 20px;
      vertical-align: middle; }
    .navbar .shopping-cart .dropdown button:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      background-color: white; }
  .navbar .shopping-cart .dropdown .btn-default.focus, .navbar .shopping-cart .dropdown .btn-default:focus {
    background-color: white;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

@media (min-width: 768px) {
  .logo-img-mobile {
    display: none; }
  /* Option in the menu, only visible when shopping-cart icon is not*/
  #nettbutikk-hidden {
    display: none; } }

@media (max-width: 767px) {
  .logo-img-mobile {
    position: absolute;
    max-width: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 10px; }
  .navbar-collapse {
    padding: 0; }
  .navbar .navbar-nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: 0;
    margin-top: 40px; }
    .navbar .navbar-nav li {
      width: 100%;
      margin: 0;
      padding: 0; }
      .navbar .navbar-nav li a:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        background-color: #d32730;
        color: white; }
    .navbar .navbar-nav .logo {
      display: none; }
    .navbar .navbar-nav .logo-link-mobile {
      display: block; }
  /* Option in the menu, only visible when shopping-cart icon is not*/
  #nettbutikk-hidden {
    display: block; }
  .shopping-cart {
    display: none !important; } }

/* ------------------------- Enf of Navbar styles ----------------------------------- */
/* -------------------------- INDEX PAGE------------------------------------------*/
#index .img-grid img {
  width: 100%; }

#index .top-img {
  border-top: none; }

#index .center-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #index .center-row .center-tile {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #index .center-row .center-tile .index-main-img-mobile {
      display: none; }
    #index .center-row .center-tile img {
      position: absolute; }
    #index .center-row .center-tile h1 {
      position: absolute;
      margin: 0;
      color: white; }
      #index .center-row .center-tile h1 span {
        display: block; }
      #index .center-row .center-tile h1 .heading {
        font-size: 48px;
        display: block;
        margin-left: -40px;
        margin-bottom: -20px; }
      #index .center-row .center-tile h1 .subheading {
        font-size: 58px;
        display: block;
        margin-right: -40px; }

#index #produktkatalog #produktkatalog-grid {
  background-color: #f7f7f7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  #index #produktkatalog #produktkatalog-grid img {
    max-width: 100%; }
  #index #produktkatalog #produktkatalog-grid .imgkatalog {
    padding: 40px 50px 30px 160px; }
  #index #produktkatalog #produktkatalog-grid .katalog {
    font-size: 50px;
    line-height: 60px;
    padding-right: 330px;
    color: #797979; }
  #index #produktkatalog #produktkatalog-grid span {
    font-weight: 700; }

#index #artikkel-liste {
  padding-top: 40px; }
  #index #artikkel-liste img {
    width: 100%; }
  #index #artikkel-liste .artikkeltekstkolonne {
    padding: 0px 20px; }
  #index #artikkel-liste h2 {
    text-transform: uppercase;
    font-size: 40px; }
    #index #artikkel-liste h2 .boldleft {
      font-weight: 900;
      display: block; }
    #index #artikkel-liste h2 .slimright {
      float: right; }
  #index #artikkel-liste .artikkeltekst {
    clear: both;
    margin-top: 60px;
    margin-bottom: 20px;
    line-height: 25px; }

@media (max-width: 767px) {
  #index .img-grid img {
    display: none; }
  #index .center-row .center-tile .index-main-img-mobile {
    display: block; }
  #index .center-row .center-tile img {
    position: static;
    display: none; } }

/*------------- END OF INDEX PAGE -------------------------------*/
/*-------------- VARMELØSNINGER PAGE -------------------------------- */
#varmelosninger .product-section {
  margin-bottom: 50px; }

#varmelosninger .img-col-left {
  padding-left: 20px; }

#varmelosninger .img-col-right {
  padding-right: 20px; }

#varmelosninger .img-col-left, #varmelosninger .img-col-right {
  padding-left: 20px; }
  #varmelosninger .img-col-left img, #varmelosninger .img-col-right img {
    max-width: 100%; }

#varmelosninger .infotext, #varmelosninger .products {
  padding-left: 20px;
  padding-right: 20px; }

#varmelosninger h3 {
  font-size: 20px;
  text-transform: uppercase; }
  #varmelosninger h3 span {
    font-weight: bold; }

#varmelosninger .products h3 {
  margin-bottom: 20px; }

#varmelosninger .products .product {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
  #varmelosninger .products .product .product-img img {
    max-width: 50px; }
  #varmelosninger .products .product .product-text {
    margin-top: -10px;
    margin-left: 5px; }
    #varmelosninger .products .product .product-text h4 {
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 800; }

/*-------------- END OF VARMELØSNINGER PAGE --------------------------------* */
/*-------------- VARMELØSNINGER PAGE -------------------------------- */
#varmestyring img {
  width: 100%; }

/*-------------- END OF VARMELØSNINGER PAGE --------------------------------* */
/*-------------- SMARTHUS PAGE -------------------------------- */
#smarthus img {
  width: 100%; }

#smarthus .imgsmarthus {
  max-width: 80px;
  margin: 0 auto; }

#smarthus .h1smart {
  text-align: center; }

#smarthus .pheadsmart {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  padding: 0px 220px 0px 220px; }

#smarthus .articlebox {
  padding: 10px 30px 30px 30px;
  height: 370px; }

#smarthus .smarthusH2 {
  text-align: center;
  margin-top: 5px;
  color: black;
  text-transform: uppercase; }

#smarthus .backgroundgreysmarthus {
  background-color: #f7f7f7;
  padding: 30px 0px 30px 0px;
  margin-bottom: 40px; }

#smarthus .h3smart {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: black; }

#smarthus .psmart {
  line-height: 22px;
  text-align: center; }

#smarthus .smarthuspadding {
  padding: 30px 30px 0px 30px; }

/*-------------- END OF SMARTHUS PAGE --------------------------------* */
