doctype html
html(lang="en")
	head
		title Thermo Floor - Artikler
		meta(charset="utf-8")
		meta(name="viewport", content="width = device-width, initial-scale = 1")
		// Bootstrap v3.3.7 CSS
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		// jQuery 3.1.1 
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		// Bootstrap v3.3.7 compiled and minified JavaScript
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		// Bootstrap plugin for hover states instead of click for dropdowns 
		script(src="js/bootstrap-hover-dropdown.min.js")
		// Custom styles
		link(rel="stylesheet", type="text/css", href="../css/styles.css")
		
	body#article
		.container-fluid
			include includes/navbar.jade
			
			.row
				.col-md-6
					img(src="img/index/artikkel_2.jpg")
				.col-md-6#infotext
					h1.artikkelh1
						#boldh1 Fremtiden 
						| er elektrisk
					p.breadcrumbs Publisert: 20.01.2017 kl. 14:11 av Per Håkon Granum
					p.ingress Alle har et ansvar for hverandre og for samfunnet vi er en del av, både som bedrift og som enkeltmenneske. Vi er klar over vår egen rolle som del av en større helhet der også vi skal gi vårt bidrag og ta vårt ansvar.
			.row#text
				.col-md-4
					p Elektriske varmesystemer er i dag den mest effektive og skånsomme måten for miljøet å utnytte energi på, derfor er dette vårt satsningsområde også i fremtiden. Trådløse styringssystemer i smarte hjem, hvor termostater og elektriske komponenter selv regulerer og effektiviserer behovet for varme og lys, vil i lang tid være den beste og rimeligste metoden for våre hjem. Det betyr ikke at vi skal stå stille, vi skal alltid etterstrebe å effektivisere for å få enda mer ut av lite. Dette er fremtiden, og derfor sier vi at den er elektrisk.
				.col-md-4
					p Elektriske varmesystemer er i dag den mest effektive og skånsomme måten for miljøet å utnytte energi på, derfor er dette vårt satsningsområde også i fremtiden. Trådløse styringssystemer i smarte hjem, hvor termostater og elektriske komponenter selv regulerer og effektiviserer behovet for varme og lys, vil i lang tid være den beste og rimeligste metoden for våre hjem. Det betyr ikke at vi skal stå stille, vi skal alltid etterstrebe å effektivisere for å få enda mer ut av lite. Dette er fremtiden, og derfor sier vi at den er elektrisk.
				.col-md-4
					p Elektriske varmesystemer er i dag den mest effektive og skånsomme måten for miljøet å utnytte energi på, derfor er dette vårt satsningsområde også i fremtiden. Trådløse styringssystemer i smarte hjem, hvor termostater og elektriske komponenter selv regulerer og effektiviserer behovet for varme og lys, vil i lang tid være den beste og rimeligste metoden for våre hjem. Det betyr ikke at vi skal stå stille, vi skal alltid etterstrebe å effektivisere for å få enda mer ut av lite. Dette er fremtiden, og derfor sier vi at den er elektrisk.
			
			include includes/contact_installator.jade
			include includes/footer.jade
