doctype html
html(lang="en")
	head
		title Thermo Floor
		meta(charset="utf-8")
		meta(name="viewport", content="width = device-width, initial-scale = 1")
		// Bootstrap v3.3.7 CSS
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		// jQuery 3.1.1 
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		// Bootstrap v3.3.7 compiled and minified JavaScript
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		// Bootstrap plugin for hover states instead of click for dropdowns 
		script(src="js/bootstrap-hover-dropdown.min.js")
		// Custom styles
		link(rel="stylesheet", type="text/css", href="css/styles.css")

	body#index
		.container-fluid
			include includes/navbar.jade
			
			.img-grid
				.row
					.col-sm-6
						img(src="img/imgindex1.jpg", alt="Index image 1").img-responsive-img
					.col-sm-6
						img(src="img/imgindex2.jpg", alt="Index image 2").img-responsive-img
				
				.row.center-row
					.col-sm-3
						img(src="img/imgindex3.jpg", alt="Index image 3").img-responsive-img

					.col-sm-6.col-xs-12.center-tile
						img(src="img/imgindex4.jpg")
						img(src="img/main-img-mobile.jpg").index-main-img-mobile
						h1
							span.heading Inn i 
							span.subheading varmen
					.col-sm-3
						img(src="img/imgindex5.jpg", alt="Index image 5").img-responsive-img
				
				.row
					.col-sm-12
						img(src="img/imgindex6.jpg", alt="Index image 6").img-responsive-img
			
			.row
				section#produktkatalog
					.col-md-12#produktkatalog-grid
						.col-md-7.col-sm-12.col-xs-12
							a(href="http://ipaper.ipapercms.dk/ThermoFloor/Katalog/", title="Thermo Floor Produktkatalog 2017", target="_blank")
								img(src="img/produktkatalog2.png", alt="bilde av produktkatalog").img-responsive-img.imgkatalog
						.col-md-5.col-sm-12.col-xs-12
							h1.katalog Sjekk ut vår 
								span produktkatalog 
								| for 2017					
			
			.row
				section#artikkel-liste
					.col-md-4
						img(src="img/index/artikkel_3.jpg")
					.col-md-4.artikkeltekstkolonne.longertablet
						h2
							.boldleft Kunsten
							.slimright å holde seg varm
						p
							.artikkeltekst
								| Siden vi var små har vi lært ulike teknikker for å holde kroppen varm. Ferdigheter som utviklet seg med alderen og som man arvet fra de som hadde gått først.
						.see-more-link
							a(href="/artikkel_kort.html", title="Les mer")
								.buttontext Les mer
								.arrow &#187;
					.col-md-4.displaynone
			.row
				section#artikkel-liste
					.col-md-4.displaynone
					
					.col-md-4
						img(src="img/index/artikkel_2.jpg")
					.col-md-4.artikkeltekstkolonne.longertablet
						h2
							.boldleft Fremtiden
							.slimright er elektrisk
						p
							.artikkeltekst
								| Alle har et ansvar for hverandre og for samfunnet vi er en del av, både som bedrift og som enkeltmenneske. Vi er klar over vår egen rolle som del av en større helhet der også vi skal gi vårt bidrag og ta vårt ansvar.
						.see-more-link
							a(href="/artikkel_kort.html", title="Les mer")
								.buttontext Les mer
								.arrow &#187;
					
			.row
				section#artikkel-liste
					.col-md-4
						img(src="img/index/artikkel_1.jpg")
					.col-md-4.artikkeltekstkolonne.longertablet
						h2
							.boldleft Du er trygg med
							.slimright elektrisk oppvarming
						p
							.artikkeltekst
								| I tillegg til at elektrisk oppvarming er fornybar og miljøvennlig, gir komfort gjennom rask, enkel og effektiv oppvarming, er den også helt trygg.
						.see-more-link
							a(href="/artikkel_kort.html", title="Les mer")
								.buttontext Les mer
								.arrow &#187;
					.col-md-4.displaynone
			include includes/footer.jade
