doctype html
html(lang="en")
	head
		title Thermo Floor
		meta(charset="utf-8")
		meta(name="viewport", content="width = device-width, initial-scale = 1")
		// Bootstrap v3.3.7 CSS
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		// jQuery 3.1.1 
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		// Bootstrap v3.3.7 compiled and minified JavaScript
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		// Open Sans font
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet")
		// Custom styles
		link(rel="stylesheet", type="text/css", href="css/styles.css")

	body
		.container-fluid
			include includes/navbar.jade
			
			.row
				.col-md-6
					//- img(src="http://placehold.it/600x200/2ecc71/fff", alt="Placeholder image").img-responsive.top-img
					img(src="img/imgindex1.jpg", alt="Index image 1").img-responsive-img
				.col-md-6
					//- img(src="http://placehold.it/600x200/3498db/fff", alt="Placeholder image").img-responsive.top-img
					img(src="img/imgindex2.jpg", alt="Index image 2").img-responsive-img
			
			.row.center-row
				.col-md-3
					//- img(src="http://placehold.it/300x200/e74c3c/fff", alt="Placeholder image").img-responsive
					img(src="img/imgindex3.jpg", alt="Index image 3").img-responsive-img

				.col-md-6.center-tile
					h1
						span.heading Inn i 
						span.subheading varmen
				.col-md-3
					//- img(src="http://placehold.it/300x200/9b59b6/fff", alt="Placeholder image").img-responsive
					img(src="img/imgindex5.jpg", alt="Index image 5").img-responsive-imgS
			
			.row
				.col-md-12
					//- img(src="http://placehold.it/1000x200/c4004d/fff", alt="Placeholder image").img-responsive
					img(src="img/imgindex6.jpg", alt="Index image 6").img-responsive-img
			
			.row
				section#produktkatalog
					.col-md-12#produktkatalog-grid
						.col-md-6
							a(href="http://ipaper.ipapercms.dk/ThermoFloor/Katalog/", title="Thermo Floor Produktkatalog 2017", target="_blank")
								img(src="img/produktkatalog2.png", alt="bilde av produktkatalog")
						.col-md-6
							h1 Sjekk ut vår produktkatalog for 2017					
						
			include includes/footer.jade
