doctype html
html(lang="en")
   head
      title Thermo Floor - Kontakt
      meta(charset="utf-8")
      meta(name="viewport", content="width = device-width, initial-scale = 1")
      // Bootstrap v3.3.7 CSS
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
      // jQuery 3.1.1
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
      // Bootstrap v3.3.7 compiled and minified JavaScript
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
      // Bootstrap plugin for hover states instead of click for dropdowns
      script(src="js/bootstrap-hover-dropdown.min.js")
      // Custom styles
      link(rel="stylesheet", type="text/css", href="../css/styles.css")

   body#kontaktside
      .container-fluid
         include includes/navbar.jade
         
         .row.background-grey
            .col-md-6.col-md-offset-3
               h3 Prosjektledere 
               
            .col-md-4
               h4 Ola Nordmann
               .profile 
                  .profile-img 
                     img(src="img/kontakt/o_nordmann.jpg")
                  .profile-text
                     p Bedrift: Thermo-Floor AS
                     p Tlf: 123 45 678
                     p Epost: o.nordmann@thermofloor.no
         
            .col-md-4
               h4 Navn Navnesen
               .profile 
                  .profile-img 
                     img(src="img/kontakt/n_navnesen.jpg")
                  .profile-text
                     p Bedrift: Thermo-Floor AS
                     p Tlf: 223 34 455
                     p Epost: n.navnesen@thermofloor.no
         
            .col-md-4
               h4 Kari Nordmann
               .profile 
                  .profile-img 
                     img(src="img/kontakt/k_nordmann.jpg")
                  .profile-text
                     p Bedrift: Thermo-Floor AS
                     p Tlf: 224 48 800
                     p Epost: k.nordmann@thermofloor.no
         
         .row.background-grey
            .col-md-6.col-md-offset-3
               h3 Installatører Gjøvik
                           
            .col-md-4
               h4 Kjell Kjellsrud
               .profile 
                  .profile-img 
                     img(src="img/kontakt/k_kjellsrud.jpg")
                  .profile-text
                     p Bedrift: Gjøvik Elektrikerfirma AS
                     p Tlf: 335 53 355
                     p Epost: k.kjellsrud@gjøvik-elfirma.no
                  
            .col-md-4
               h4 Gunnhild Gundersen
               .profile 
                  .profile-img 
                     img(src="img/kontakt/g_gundersen.jpg")
                  .profile-text
                     p Bedrift: Mjøsa Elektro AS
                     p Tlf: 113 35 577
                     p Epost: g.gundersen@mjøsaelektro.no
                     
            .col-md-4
               h4 Severin Suveren
               .profile 
                  .profile-img 
                     img(src="img/kontakt/s_suveren.jpg")
                  .profile-text
                     p Bedrift: Gjøvik Elektrikerfirma AS
                     p Tlf: 454 56 767
                     p Epost: s.suveren@gjøvik-elfirma.no
         
         .row.background-grey
            .col-md-6.col-md-offset-3
               h3  Installatører Hamar
                           
            .col-md-4
               h4 Jorun Jorunsdotter
               .profile 
                  .profile-img 
                     img(src="img/kontakt/j_jorunsdotter.jpg")
                  .profile-text
                     p Bedrift: Hamar Elektroservice AS
                     p Tlf: 123 41 234
                     p Epost: j.jorunsdotter@hamar-elektro.no
                  
            .col-md-4
               h4 Tom Thomassen
               .profile 
                  .profile-img 
                     img(src="img/kontakt/t_thomassen.jpg")
                  .profile-text 
                     p Bedrift: Hamar Elektroservice AS
                     p Tlf: 998 89 988
                     p Epost: t.thomassen@hamar-elektro.no
                     
            .col-md-4
               h4 Angus McDougal
               .profile 
                  .profile-img 
                     img(src="img/kontakt/a_mcdougal.jpg")
                  .profile-text 
                     p Bedrift: Hamar El-installasjon AS
                     p Tlf: 550 05 500
                     p Epost: a.mcdougal@hamarinstallasjon.no
         
         
                  
         include includes/contact_installator.jade
         include includes/footer.jade
