doctype html
html(lang="en")
	head
		title Thermo Floor - Smarthus
		meta(charset="utf-8")
		meta(name="viewport", content="width = device-width, initial-scale = 1")
		// Bootstrap v3.3.7 CSS
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		// jQuery 3.1.1 
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		// Bootstrap v3.3.7 compiled and minified JavaScript
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		// Bootstrap plugin for hover states instead of click for dropdowns 
		script(src="js/bootstrap-hover-dropdown.min.js")
		// Custom styles
		link(rel="stylesheet", type="text/css", href="../css/styles.css")
		
	body#smarthus
		.container-fluid
			include includes/navbar.jade
			
			.row.backgroundgreysmarthus
				section#smarthus
					.col-md-10.col-md-offset-1
						h1.h1smart SMARTE LØSNINGER FOR SMARTE HJEM
						p.pheadsmart
							| Har du strøm og trådløst nett har du det som trengs for å styre et moderne hjem - et såkalt smarthus.<br /><br />
							| Lys, varmekabler, varmepumpe, panelovner, ytterdør, garasjeport, persienner, solskjerming, aircondition, alarmsystem, kamera, lyd og bilde styres fra én sentral enhet med en pc eller mobil. <br /><br />
							| Målet er optimalisering, lavere forbruk og høyere komfort for deg og huset ditt.
			.row
				section#smarthus
					.col-md-10.col-md-offset-1
						img(src="img/smarthus/smarthussort.png").img-responsive.imgsmarthus
						h2.smarthusH2 Hva er smarthus?
						.row
							.col-md-4
								img(src="img/smarthus/smarthus.jpg").img-responsive.smarthuspadding
							.col-md-4
								img(src="img/smarthus/forklaringzwave.jpg").img-responsive.smarthuspadding
							.col-md-4
								img(src="img/smarthus/hengersammen.jpg").img-responsive.smarthuspadding
						.row
							.col-md-4.articlebox
								h3.h3smart HVORDAN FUNGERER DET SAMMEN?
								p.psmart  De automatiserte operasjonene styres av et avansert styringssystem, altså en gateway som er koblet til internett via ruteren er hjernen i systemet, den håndterer all informasjon mellom deg og systemets ulike funksjoner. Et enkelt brukergrensesnitt på din pc, telefon eller nettbrett er alt som trengs for å administrere huset. Systemet kan alltid utvides, her er det bare å komme i gang i det små og bygge på etter hvert som man ser nytten og gleden!
							.col-md-4.articlebox
								h3.h3smart ALT HENGER SAMMEN
								p.psmart Ditt smarthus styres av et avansert system fra Fibaro. En gateway som er koblet til internett via ruteren din er hjernen i systemet. Gatewayen behandler all informasjon den får fra de trådløse sensorene som er koblet til produktene du ønsker å styre. Deretter styres dette basert på ønskene du har lagt inn, eller det du sier den skal gjøre via et enkelt brukergrensesnitt på din pc eller telefon. Den lokale elektrikeren hjelper deg å sette opp systemet, de monterer de ulike modulene som trengs for at systemet skal snakke sammen.
							.col-md-4.articlebox
								h3.h3smart HVA TRENGER JEG FOR Å KOMME I GANG?
								p.psmart For å få ditt eget smarte hus, trenger du kun et styringssystem som er koblet til internett via din ruter, en smarttelefon og for eksempel en Z-Wave termostat eller en veggplugg for å styre lyset. Så enkelt kan du begynne å utforske mulighetene et smarthus gir. Teknologien fungerer like godt i gamle som nye hus, og gjerne jobben som «vaktmester» på hytta. Etter installasjonen er systemet gratis å bruke, alt du trenger er tilgang til internett.
			.row.backgroundgreyarticle
				section#smarthus
					.col-md-10.col-md-offset-1
						.col-md-4
							img(src="img/smarthus/hytteservice.png").img-responsive.img-iphone
						.col-md-8
							h2.smarthusarticle Din digitale hytteservice
							p Aldri mer kald hytte og frosne rør, fra nå kan du overlate hytta til seg selv. Med smarthus-styring av hytta kan du sette på varmen ved avreise hjemmefra og sørge for at badstua og boblene i karet har akkurat rett temperatur ved ankomst. Via kameraet på veggen har du allerede forsikre deg om at du slipper å måke frem døra og at hytta ikke har hatt ubudne gjester. Men ved til peisen må du fortsatt hugge selv.

			.row
				section#smarthus
					.col-md-10.col-md-offset-1
						img(src="img/smarthus/godeeksemplersort.png").img-responsive.imgsmarthus
						h2.smarthusH2 Gode eksempler
						.row
							.col-md-4.borderarticle
								.col-md-12.articleboxeksempel
									h3.h3smart STYRING AV VARME I HUSET
									p.psmart  Styring av varme og lys er den enkleste formen for smarthus, og antagelig også den formen som er enklest å starte med, og som gir mest igjen i lommeboka.
									.see-more-link-smarthus
										a(href="...", title="Les mer", target="_blank")
											.buttontext-smarthus Les mer
							.col-md-4.borderarticle
								.col-md-12.articleboxeksempel
									h3.h3smart SIKKERHET I HJEMMET
									p.psmart Sikkerhet handler ikke først og fremst om lås og alarm, men om teknologi som bidrar til trygghet hjemme. Sikkerhet i hjemmet er trygghet på at du har et hjem å bli gammel i.
									.see-more-link-smarthus
										a(href="...", title="Les mer", target="_blank")
											.buttontext-smarthus Les mer
							.col-md-4.borderarticle
								.col-md-12.articleboxeksempel
									h3.h3smart STYRING AV LYS
									p.psmart I sin enkleste form er det lys som går av og på av seg selv, dette kan styres på tid eller via bevegelsessensorer slik at du bare bruker strøm når det trengs. 
									.see-more-link-smarthus
										a(href="...", title="Les mer", target="_blank")
											.buttontext-smarthus Les mer
			.row.backgroundgreyarticle
				section#smarthus
					.col-md-10.col-md-offset-1
						.col-md-8
							h2.smarthusarticle Slipp inn de du vil - når du vil
							p Med en smartelefon og Danalock kan du slippe inn barna, gjester, håndverkere eller til og med svigermor, uansett hvor i verden du måtte befinne deg. Familien kontrollerer selv låsen fra der dere er, og dere kan være trygg på at ingen slipper inn uten deres tillatelse. Slik har du alltid en nøkkel under matta.
						.col-md-4
							img(src="img/smarthus/slippinn.png").img-responsive.img-iphone

			
			include includes/footer.jade
