doctype html
html(lang="en")
	head
		title Thermo Floor - Varmeløsninger
		meta(charset="utf-8")
		meta(name="viewport", content="width = device-width, initial-scale = 1")
		// Bootstrap v3.3.7 CSS
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		// jQuery 3.1.1 
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		// Bootstrap v3.3.7 compiled and minified JavaScript
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		// Bootstrap plugin for hover states instead of click for dropdowns 
		script(src="js/bootstrap-hover-dropdown.min.js")
		// Custom styles
		link(rel="stylesheet", type="text/css", href="../css/styles.css")
		
	body#varmelosninger
		.container-fluid
			include includes/navbar.jade
			
			.row.backgroundgrey
				.col-md-6.col-md-offset-3
					section#varmelosningtop
						h1.center PÅ SOKKELESTEN I ALLE ROM
						p.center Nye byggeforskrifter har gjort kravene og behovet for oppvarming i nye hus til noe helt annet i dag enn tidligere. Boligene er nå så godt isolert at kostbare løsninger som vannbåren-og jordvarme strengt tatt ikke er nødvendig. Nedbetalingstiden blir lang. Bruk av strøm er både raskt og effektivt, og i kombinasjon med en liten peisovn har man det som skal til for å holde kulda unna i en normal enebolig. Systemer for varmestyring kombinert med moderne termostater vil sørge for at gulvvarmen kun er aktiv når behovet er der. Slik kan du spare både penger og miljøet ved for eksempel å redusere gulvvarmen om natten og på tider av døgnet hvor ingen er hjemme. Med varme føtter kan man fint senke innetemperaturen et par grader uten at rommet føles kaldere. Slik blir det lek på bare føtter i alle rom.
			
			.row.product-section
				.col-md-4.img-col-left
					img(src="img/varmelosninger/artikkel1.jpg")
				.col-md-4.infotext
					h3
						span Varmeløsninger 
						| i oppholdsrom 
					p Varmekabler, kombinert med styringssystemer og effektiv energibruk, betyr mulighet for å styre varmelosninger
						| etter behov i de rommene du oppholder deg i. God og behagelig romtemperatur er viktig for hjemmekosen, og jevn
						| varme kan enkelt oppnås gjennom elektrisk gulvvarme. Slik hindrer du kalde og varme soner i rommet og ikke minst, sløsing
						| av energi. Varmekabler er en av de mest effektive metodene for rask og nøyaktig grunnvarme. 
					
					p Med styrt varme i alle rom holder du deg husvarm i egen bolig, og skaper lune omgivelser for deg og resten av familien. 
					
					.see-more-link
						a(href="/artikkel_kort.html", title="Les mer", target="_blank")
							.buttontext Les mer
							.arrow &#187;
							
				.col-md-4.products
					h3
						span Produkter 
						| for varme i oppholdsrom 
					.product
						.product-img
							img(src="img/varmelosninger/tfp_varmekabelmatte.png")
						.product-text
							h4 TFP varmekabelmatte
							p Lavtbyggende varmekabelmatte som parkettunderlag.
					
					.product
						.product-img
							img(src="img/varmelosninger/tfp_varmefolie.png")
						.product-text
							h4 TFP varmefolie
							p Komfortvarme og totalvarme i alle tørre rom innendørs.
					
					.product
						.product-img
							img(src="img/varmelosninger/tf_stretch_varmekabelmatte.png")
						.product-text
							h4 TF stretch varmekabelmatte
							p Elastisk Vvarmekabelmatte, kan brukes i alle rom innendørs.
			
			
			.row.product-section.backgroundgreyvarmelosning
				.col-md-4.infotext
					h3
						span Varmeløsninger 
						| for bad
					p God varme i rommet og gulvet gir deg den rette komforten på badet. Med jevn og deilig temperatur, kan du gjøre 
						| baderommet til en liten spa-opplevelse for kropp og sjel. La baderommet være stedet der du gir deg selv et 
						| pusterom og kvalitetstid i en travel hverdag. Med trådløs styring kan du enkelt fjernstyre varmen i hele huset, også på badet!
					
					p I tillegg til å effektivisere energibruken med enkel regulering og kort reaksjonsevne, kan du også klargjøre badet med 
						| mobiltelefonen ved avreise fra hytta. Aldri mer kalde badegulv!
				
					.see-more-link
						a(href="/artikkel_kort.html", title="Les mer", target="_blank")
							.buttontext Les mer
							.arrow &#187;
							
				.col-md-4.products
					h3
						span Produkter 
						| for varme på badet
					.product
						.product-img
							img(src="img/varmelosninger/tf_sticky_mat.png")
						.product-text
							h4 TF sticky mat
							p En lavtbyggende varmekabelmatte.
					
					.product
						.product-img
							img(src="img/varmelosninger/tf_svk_varmekabel.png")
						.product-text
							h4 TF SVK varmekabel
							p En 2-leder varmekabel som er blyfri og uten farlige giftstoffer.
					
					.product
						.product-img
							img(src="img/varmelosninger/tf_stretch_varmekabelmatte.png")
						.product-text
							h4 TF stretch varmekabelmatte
							p Elastisk Vvarmekabelmatte, kan brukes i alle rom innendørs
					
				.col-md-4.img-col-right
					img(src="img/varmelosninger/artikkel2.png")
			
			.row.product-section
				.col-md-4.img-col-left
					img(src="img/varmelosninger/artikkel3.jpg")
				.col-md-4.infotext
					h3
						span Varmeløsninger 
						| utendørs
					p Velg den "grønne varmen" også utendørs! Med produkter for snøsmelting kan du tenke tilbake på isete
						| gangveier, snø i oppkjørselen og strekk i ryggen som dårlige minner, og heller se frem mot en vinter
						| uten såpeglatt holke rundt boligen og issvuller i takrenna.
					
					p Snøsmelteautomatikk i grapper og inngangsparti, under asfalt, belegningsstein eller fliser, bidrar til 
						| komplett hjemmekomfort. Ikke noe vedlikehold, bare lettere og trygg adkomst året rundt.
					
					.see-more-link
						a(href="/artikkel_kort.html", title="Les mer", target="_blank")
							.buttontext Les mer
							.arrow &#187;
							
				.col-md-4.products
					h3
						span Produkter 
						| for smelting av snø og is
					.product
						.product-img
							img(src="img/varmelosninger/tf_svk_varmekabelmatte.png")
						.product-text
							h4 TFP varmekabelmatte
							p Lavtbyggende varmekabelmatte som parkettunderlag.
					
					.product
						.product-img
							img(src="img/varmelosninger/tfu_varmekabelmatte.png")
						.product-text
							h4 TFP varmefolie
							p Komfortvarme og totalvarme i alle tørre rom innendørs.
			
			include includes/footer.jade
