doctype html
html(lang="en")
	head
		title Thermo Floor - Varmestyring
		meta(charset="utf-8")
		meta(name="viewport", content="width = device-width, initial-scale = 1")
		// Bootstrap v3.3.7 CSS
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		// jQuery 3.1.1 
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		// Bootstrap v3.3.7 compiled and minified JavaScript
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		// Bootstrap plugin for hover states instead of click for dropdowns 
		script(src="js/bootstrap-hover-dropdown.min.js")
		// Custom styles
		link(rel="stylesheet", type="text/css", href="../css/styles.css")
		
	body#varmestyring
		.container-fluid
			include includes/navbar.jade
			
			//- img(src="../img/varmestyring.jpg")
			.row.background-grey
				.col-md-6.col-md-offset-3
					section
						h1 Styr varmen med en termostat
						p Enkelt sagt er en termostat en bryter som holder styring på temperaturen. 
						p Termostater finnes i mange utgaver, fra de som har en enkel av/på-funksjon og justering av temperatur, til mer avanserte typer med tidsstyring og mulighether for å effektivisere forbruket. 
						p Nå har termostatene også blitt så smarte at de «snakker» sammen seg imellom. Det er behovet ditt som bestemmer hvilken løsning du bør gå for – her hos Thermo-Floor AS har vi hele utvalget.
						
			.row
				.col-md-10.col-md-offset-1
					section#termostat-typer 
						//- img(src="img/smarthus/smarthussort.png").img-responsive.imgsmarthus
						img(src="img/varmestyring/termostat.png").termostat-illustration
						h2 Typer termostater innendørs
						
						.row
							.col-md-4.termostat-box.col-sm-4
								img(src="img/varmestyring/termostat_enkel.jpg")
								h3 De enkleste
								p La termostatene snakke sammen og selv justere varmen! Multireg Z-Wave er en elektronisk termostat med flere 
									| funksjoner og mulighet for to følere. Den innebygde trådløse funksjonen sørger for at termostatene kan jobbe 
									| i team, og sammen skape et godt inneklima i hele huset. Dette bidrar til både økt komfort og lavere strømregning.
								//- p Termostatene har ingen synlige knapper eller svinghjul, kun rene flater og en berøringsskjerm som kler ethvert rom. 
								//- 	| Z-Wave-termostater utgjør en del av ditt smarthus, og inngår i systemet bestående av en kontrollenhet og ulike Z-Wave-enheter.

							.col-md-4.termostat-box.col-sm-4
								img(src="img/varmestyring/termostat_medium.jpg")
								h3 For de som ønsker litt mer
								p Går man fra det enkle til mer avanserte, har man elektroniske termostater med flere funksjoner enn bare av/på. Her kan man fortsatt få det
									| klassiske svinghjulet, men også LCD-skjerm for styring. Dette er termostater med adaptiv funksjon; det vi si at termostaten lærer seg 
									| akkurat ditt varmebehov. I løpet av to uker kan den i praksis programmere seg selv. Det er lagt vekt på enkel montering og brukervennlighet.
							.col-md-4.termostat-box.col-sm-4
								img(src="img/varmestyring/termostat_avansert.jpg")
								h3 De mest avanserte
								p Hvorfor gjøre det avansert om behovet er enkelt? Multireg PRO2 er en elektronisk termostat med gulvf øler og svinghjul som viser ønsket temperatur. 
									| Termostaten har mulighet for nattsenking. Multireg PRO2 må styres manuelt, men kanskje er det ikke behov for noe mer avansert?
			
			.row
				.col-md-12.background-grey.padding
					h1.center FARGEKOMBINASJONER OG LØSNINGER INNENDØRS
					.col-md-3.invisiarticle.first.col-sm-6
						.col-md-12.whitearticle
							h3.center KOMBINER FARGENE
							p.center.smallerp I og med at mange av våre termostater kommer i både hvit og sort utgave, står du fritt til å kombinere rammer og fronter slik du vil. <br><br>Velg hvit ramme med sort termostat eller motsatt for et spenstig uttrykk, eller gå for det tradisjonelle med helhvitt eller helsort.<br><br>
					.col-md-3.invisiarticle.col-sm-6
						.col-md-12.whitearticle
							h3.center DE SISTE DETALJENE
							p.center.smallerp Hvilken type Multireg® termostat du velger avhenger av flere ting. Hvilke funksjoner du ønsker at termostaten skal ha er naturligvis den viktigste faktoren, men utseende og brukervennlighet spiller også inn. <br><br>Vi har et bredt utvalg av termostater, noen med svinghjul - andre med LCD-skjerm.
					.col-md-3.invisiarticle.col-sm-6
						.col-md-12.whitearticle
							h3.center FARGER MULTIREG
							p.center.smallerp Termostatene i vår Multireg®-serie kommer enten i hvitfargen RAL 9010 som matcher Elko RS16-ramme eller i RAL 9003 som matcher Schneider Exxact-rammer. Multireg® standardtermostat og Multireg® LCD er tilgjengelig i begge hvitfargene. Mange av våre termostater kan også leveres i sort farge ved å kjøpe et plastkit i tillegg.
					.col-md-3.invisiarticle.col-sm-6
						.col-md-12.whitearticle
							h3.center RENERE OVERFLATE MED DEKSEL
							p.center.smallerp Med et deksel over displayet får du et rent og stilig utseende på termostaten. Dekselet skjuler displayet, beskytter det mot støt m.m og gjør termostaten mindre fremtredende i interiøret forøvrig. <br><br>Dekselet leveres i hvitt og sort og til Multireg standardtermostat.
			.row#utendors
				.col-md-5
					img(src="img/varmestyring/snofritt.jpg")
				.col-md-7
					h2 Varmestyring utendørs
					h3 Snøfritt inngangsparti?
					h4 SNØSMELTETERMOSTATER
					p Med snøsmelteautomatikk holder du det tørt og isfritt vinteren igjennom. Dette bidrar både til økt sikkerhet mot fall og ulykker når det er glatt, såvel som å spare arbeid med måking, strøing og salting osv. Bakkefølere kan monteres i betong, asfalt eller legges under belegningsstein og fliser, på steder hvor snø- og isproblemer normalt oppstår, noe som gir deg en funksjonell og energisparende styring av varmekablene.
					p Enten det er trapper, inngangspartiet eller innkjøring som er problemet, kan en termostat benyttes for å regulere anlegget. Termostaten mottar informasjon om temperatur og fuktighet fra en føler, og den vet selv om det er regn eller snø, og fare for is. Basert på systeminnstillinger og dine ønsker vil den sørge for isfri adkomst til postkassen.
			
			include includes/footer.jade
