svg.blogg-icon(version='1.0', xmlns='http://www.w3.org/2000/svg', width='300.000000pt', height='300.000000pt', viewbox='0 0 300.000000 300.000000', preserveaspectratio='xMidYMid meet')
  metadata
    | Created by potrace 1.13, written by Peter Selinger 2001-2015
  g(transform='translate(0.000000,300.000000) scale(0.100000,-0.100000)', fill='#000000', stroke='none')
    path(d='M1285 2984 c-762 -113 -1316 -780 -1282 -1543 7 -158 28 -276 73\
    -412 149 -447 506 -804 953 -953 396 -131 843 -88 1204 116 765 434 999 1413\
    513 2142 -319 477 -896 735 -1461 650z m350 -867 c124 -35 209 -98 252 -185\
    36 -74 39 -182 6 -253 -26 -58 -88 -121 -149 -152 l-47 -24 66 -30 c80 -38\
    141 -97 175 -172 22 -47 27 -70 26 -141 0 -72 -4 -94 -28 -147 -55 -119 -174\
    -203 -341 -239 -86 -19 -425 -26 -517 -10 l-48 7 0 670 c0 527 3 671 13 674\
    69 26 503 28 592 2z')
    path(d='M1308 1953 l-38 -4 0 -190 0 -189 72 0 c170 0 272 42 310 127 37 84\
    5 188 -70 227 -56 29 -164 40 -274 29z')
    path(d='M1272 1168 l3 -223 110 0 c134 0 191 15 249 67 51 44 69 88 68 163\
    -1 143 -111 215 -328 215 l-104 0 2 -222z')
