// Navbar
nav.navbar.navbar-default
	.container-fluid
		img(src="img/logo.png").logo-img-mobile
		.navbar-header
			// Button for toggling menu on mobile
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
		
		// The menu itself 
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
				//- li.active
				//- 	a(href='#')
				//- 		| Link 
				//- 		span.sr-only (current)
				li
					a(href="varmelosninger.html") Varmeløsninger
				li
					a(href="varmestyring.html") Varmestyring
				li(role="presentation").logo
					a(href="index.html")#logo-link
						img(src="img/logo.png").logo-img
						//- span.logo-link-mobile Hovedsiden
				li.logo-link-mobile
					a(href="index.html") Hovedsiden
				li
					a(href="smarthus.html") Smarthus
				li
					a(href="#") Kontakt
				li#nettbutikk-hidden
					a(href="http://butikk.thermo-floor.no/") Nettbutikk kun for innstallatører
				li.shopping-cart
					// Icon made by Designerz Base from www.flaticon.com
					.dropdown
						button#shopping-cart-dropdown.btn.btn-default.dropdown-toggle(type="button", data-hover="dropdown", data-delay="100", aria-haspopup="true", aria-expanded="true")
							include svg-icons/shopping-cart-icon.jade
						ul.dropdown-menu.pull-right(aria-labelledby="shopping-cart-dropdown")
							li
								a(href="http://butikk.thermo-floor.no/") Nettbutikk kun for innstallatører
